<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_php.html" do image_tag("/images/php_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_prestashop.html" do image_tag("/images/prestashop_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_magento.html" do image_tag("/images/magento_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_opencart.html" do image_tag("/images/opencart_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_woocommerce.html" do image_tag("/images/woocommerce_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Drupal" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_drupal.html" do image_tag("/images/drupal.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_whmcs.html" do image_tag("/images/whmcs_gray.png") end %>
		</div>
	</div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### Tahapan Integrasi VT-Web Drupal
<ol>
  <li>Instalasi Plugin</li>
  <li>Tes Transaksi</li>
</ol>

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#drupal-step1" data-toggle="tab"><span>Tahap 1</span>Instalasi Plugin</a></li>
  <li><a href="#drupal-step2" data-toggle="tab"><span>Tahap 2</span>Tes Transaksi</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="drupal-step1">

#### Apa yang Diperlukan

1. Sebuah toko online berbasis Drupal. (Plugin ini di-test dengan Drupal versi 7)
2. Drupal Commerce 7.x-1.11 (www.drupal.org/project/commerce)
3. PHP versi minimal 5.4.
4. Plugin Midtrans untuk Drupal \[ [Github](https://github.com/veritrans/vtweb-drupalcommerce) \| [Zip](https://github.com/veritrans/vtweb-drupalcommerce/archive/master.zip) \].

<br />

#### Proses Instalasi

1. Ekstrak plugin yang sudah di download, rubah nama folder menjadi **commerce_veritrans**.
2. Unggah folder **commerce_veritrans** ke dalam direktori modules Drupal anda ( [Drupal folder]/sites/all/modules/ ).
<br />

#### Konfigurasi Plugin

Untuk melakukan konfigurasi plugin Veritrans-Drupal:

1. Masuk ke halaman admin Drupal anda.
2. Buka menu **Modules**, cari Commerce Veritrans dan Veritrans Web di bagian COMMERCE (PAYMENT).
3. Aktifkan kedua module tersebut.
<br />
	![Drupal Setting](/images/drupal00.png){: .img-responsive .img-thumbnail}
<br /><br />
4. Klik **Save Configuration** untuk menyimpan konfigurasi.
5. Masuk ke menu **Store - Configure Store - Configuration - Payment Methods**
6. Cari dan klik **Veritrans VT-Web**.
<br />
	![Drupal Setting](/images/drupal01.png){: .img-responsive .img-thumbnail}
<br /><br />
7. Klik **Settings**, aktifkan lalu save.
<br />
	![Drupal Setting](/images/drupal02.png){: .img-responsive .img-thumbnail}
<br /><br />
8. Klik **Enable payment method: Veritrans VT-Web** pada tab Actions
9. Isikan Konfigurasi yang ada, lalu klik save.
<br />
	![Drupal Setting](/images/drupal03.png){: .img-responsive .img-thumbnail}
<br /><br />
10. Login ke [Settings - Configuration](https://dashboard.sandbox.midtrans.com/settings/vtweb_configuration) pada MAP untuk mengubah konfigurasi berikut:

	| URL Role | Redirect URL|
  |---|---|
  | Payment Notification URL | http://[your web]/commerce_veritrans/ipn |
  | Finish Redirect URL | http://[your web]|
  | Error Redirect URL | http://[your web] |
  | Unfinish Redirect URL | http://[your web] |

</div>

<div class="tab-pane" id="drupal-step2">
<br />

1. Lakukan transaksi sukses di toko Anda dengan menggunakan nomor kartu kredit berikut (sandbox mode):

	| Jenis | Visa |
|---|---|
| Nomor Kartu | 4811 1111 1111 1114 |
| CVV | 123 |
| Exp. Month | 01 |
| Exp. Year | 2020 |

	<br />
2. Cek beberapa poin berikut untuk memastikan plugin sudah ter-install dan bekerja dengan baik.

	| Cek Point | Hasil yang diharapkan | Bila hasil tidak sesuai dengan yang diharapkan |
	|---|---|---|
	| Cek order status di back end drupal | Order status berubah | Cek setting payment notification URL di MAP |
	| Merchant mendapat email notifikasi| Dapat | Jika tidak, cek setting di MAP |
	| Customer mendapat email notifikasi | Dapat | Jika tidak, cek setting di MAP |

</div>
</div>
</div>
</div>