<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
    <%= link_to "/id/vtweb/integration_php.html" do image_tag("/images/php.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
    <%= link_to "/id/vtweb/integration_prestashop.html" do image_tag("/images/prestashop_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
    <%= link_to "/id/vtweb/integration_magento.html" do image_tag("/images/magento_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
    <%= link_to "/id/vtweb/integration_opencart.html" do image_tag("/images/opencart_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
    <%= link_to "/id/vtweb/integration_woocommerce.html" do image_tag("/images/woocommerce_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Drupal" data-placement="bottom">
    <%= link_to "/id/vtweb/integration_drupal.html" do image_tag("/images/drupal_grey.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
    <%= link_to "/id/vtweb/integration_whmcs.html" do image_tag("/images/whmcs_gray.png") end %>
    </div>
  </div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
<div class="tab-pane active">

### Tahapan Integrasi VT-Web

<ol>
  <li>Mendapatkan URL VT-Web</li>
  <li>Tes Transaksi</li>
  <li>Status Transaksi</li>
  <li>Menangani Notifikasi</li>
</ol>

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#step1" data-toggle="tab"><span>Tahap 1</span>Mendapatkan URL VT-Web</a></li>
  <li><a href="#step2" data-toggle="tab"><span>Tahap 2</span>Tes Transaksi</a></li>
  <li><a href="#step3" data-toggle="tab"><span>Tahap 3</span>Status Transaksi</a></li>
  <li><a href="#step4" data-toggle="tab"><span>Tahap 4</span>Menangani Notifikasi</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="step1"><!-- step 1-->
<!-- satu -->

## Mendapatkan Redirect URL ##

Pada tahap ini, kita akan mencoba memperoleh halaman pembayaran VT-Web untuk suatu pemesanan.<br> Setidaknya ada 3 informasi yang dibutuhkan untuk mendapatkan halaman pembayaran VT-Web, yaitu:

1. `server key`
2. ID transaksi
3. Nominal transaksi

<br>
Contoh kode PHP berikut digunakan untuk mengakses halaman pembayaran VT-Web senilai Rp. 10.000,00.

~~~ php
<?php
include_once('Veritrans.php');

// Set our server key
Veritrans_Config::$serverKey = '<your server key>';

// Uncomment for production environment
// Veritrans_Config::$isProduction = true;

// Comment to disable sanitization
Veritrans_Config::$isSanitized = true;

// Comment to disable 3D-Secure
Veritrans_Config::$is3ds = true;

// Fill transaction data
$transaction = array(
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000, // no decimal allowed for creditcard
        )
    );

$vtweb_url = Veritrans_Vtweb::getRedirectionUrl($transaction);

// Redirect
header('Location: ' . $vtweb_url);
?>
~~~
<br />
Contoh kode di atas memanfaatkan library **Veritrans-PHP** yang dapat diunduh di [ [Github](https://github.com/veritrans/veritrans-php) | [Zip](https://github.com/veritrans/veritrans-php/archive/master.zip) ] dan menggunakan mode sandbox/test.

File `Veritrans.php` diasumsikan berada pada direktori yang sama dengan kode sumber. Nilai `server_key` sudah dijelaskan di [Langkah Awal - Persiapan Awal](/id/welcome/preparation.html#step3)

Secara *default*, semua metode pembayaran yang anda miliki akan ditampilkan di halaman VT-Web. Jika anda bermaksud menentukan metode pembayaran yang ditampilkan, ikuti petunjuk di [VT-Web - Fitur Tambahan](/id/vtweb/other_features.html).

Halaman Pembayaran VT-Web dapat diperoleh dengan memanggil fungsi `Veritrans_Vtweb::getRedirectionUrl` dimana data transaksi adalah argumennya. Jika proses ini berhasil, pembeli akan dialihkan menuju URL tersebut.
<br><br>
Berikut adalah contoh tampilan halaman pembayaran VT-Web hasil kode di atas:
<br />
![VT-Web Simple](/images/vtweb_simple.png){: .img-responsive .img-thumbnail}
<br /><br />

* * *

## Menambahkan Informasi Transaksi (Opsional)

Merchant dapat menambahkan berbagai data tambahan ke dalam variabel transaksi `$transaction`, seperti data pembeli, data pesanan barang, dan metode pembayaran. Data tambahan ini akan mempengaruhi halaman pembayaran VT-Web dan log transaksi pada MAP (Merchant Administration Portal).

Sebagian besar field pada form halaman VT-Web akan otomatis terisi dan Informasi terkait daftar barang serta lokasi pengiriman akan ditampilkan. <br>Keterangan dan struktur lengkap data transaksi dalam bentuk JSON dapat dilihat di [Midtrans API Reference](https://api-docs.midtrans.com).

<br>
Contoh kode PHP yang mengikutsertakan semua data transaksi adalah sebagai berikut:<br />

~~~ php
<?php
include_once('Veritrans.php');
//Set Your server key
Veritrans_Config::$serverKey = "<your server key>";

// Uncomment for production environment
// Veritrans_Config::$isProduction = true;

// Comment to disable sanitization
Veritrans_Config::$isSanitized = true;

// Comment to disable 3D-Secure
Veritrans_Config::$is3ds = true;

// Required
$transaction_details = array(
  'order_id' => rand(),
  'gross_amount' => 145000, // no decimal allowed for creditcard
  );

// Optional, , required untuk metode mandiri bill payment
$item1_details = array(
    'id' => 'a1',
    'price' => 50000,
    'quantity' => 2,
    'name' => "Apple"
    );

// Optional
$item2_details = array(
    'id' => 'a2',
    'price' => 45000,
    'quantity' => 1,
    'name' => "Orange"
    );

// Optional, required untuk metode mandiri bill payment
$item_details = array ($item1_details, $item2_details);

// Optional
$billing_address = array(
    'first_name'    => "Andri",
    'last_name'     => "Litani",
    'address'       => "Mangga 20",
    'city'          => "Jakarta",
    'postal_code'   => "16602",
    'phone'         => "081122334455",
    'country_code'  => 'IDN'
    );

// Optional
$shipping_address = array(
    'first_name'    => "Obet",
    'last_name'     => "Supriadi",
    'address'       => "Manggis 90",
    'city'          => "Jakarta",
    'postal_code'   => "16601",
    'phone'         => "08113366345",
    'country_code'  => 'IDN'
    );

$customer_details = array(
    'first_name'    => "Andri", //optional
    'last_name'     => "Litani", //optional
    'email'         => "andri@litani.com", //mandatory
    'phone'         => "081122334455", //mandatory
    'billing_address'  => $billing_address, //optional
    'shipping_address' => $shipping_address  //optional
    );

// Fill transaction details
$transaction = array(
    'transaction_details' => $transaction_details,
    'customer_details' => $customer_details,
    'item_details' => $item_details,
    );

$vtweb_url = Veritrans_Vtweb::getRedirectionUrl($transaction);

// Go to VT-Web page
header('Location: ' . $vtweb_url);
?>
~~~
<br />
Berikut adalah contoh tampilan halaman pembayaran VT-Web hasil kode di atas. <br>Perlu diperhatikan bahwa field pada **detail belanja** sudah otomatis terisi.<br> Selain itu, informasi terkait **daftar barang** dan **alamat pengiriman** juga ditampilkan pada halaman VT-Web.<br />

![VT-Web Complete](/images/vtweb_complete.png){: .img-responsive .img-thumbnail}
<br /><br />

* * *

## Error saat Request URL VT-Web

Pada beberapa kondisi, request URL pembayaran VT-Web bisa gagal. Penyebab gagalnya request URL VT-Web dapat dilihat dari status code. Status code yang umumnya muncul adalah:<br />

|Kode Error|Keterangan|
|----------|----------|
|`400` Validation error|Format atau konten data transaksi tidak valid. Contoh: Salah tipe variabel, metode pembayaran tidak valid.|
|`401` Access Denied |Client atau server key tidak valid.|
|`402` Access Denied|Merchant tidak memiliki izin menggunakan metode pembayaran tertentu.|
|`406` Duplicate Order ID|Order ID telah digunakan dan dibayar sebelumnya.|
|`410` Account Inactive|Akun merchant tidak aktif dalam waktu lama|

<br />
Daftar status code lengkap dapat dilihat di [sini](https://api-docs.midtrans.com/#status-code).


</div><!-- end of step 1-->

<div class="tab-pane" id="step2"><!-- step 2-->

<!-- dua -->

## Tes Transaksi

Di tahap ini, kita akan mencoba melakukan tes transaksi di VT-Web.<br> Mohon gunakan daftar [Kredensial Uji Coba](/id/api/test_credentials.html) untuk melakukan tes transaksi.

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  <span class="sr-only">Perhatian:</span>
<strong>Perhatian:</strong>

Pembayaran dengan kredensial sebenarnya akan menghasilkan error di Sandbox Environment.
</div>

<br>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#testcc" data-toggle="tab-code" data-lang="cc">Credit Card</a></li>
  <li><a href="#virtualacc" data-toggle="tab-code" data-lang="permata">Virtual Account</a></li>
  <li><a href="#testmandiri" data-toggle="tab-code" data-lang="mandiri">Mandiri ClickPay</a></li>
  <li><a href="#testcimb" data-toggle="tab-code" data-lang="cimb">CIMB Clicks</a></li>
  <li><a href="#bripay" data-toggle="tab-code" data-lang="bri">ePay BRI</a></li>
  <li><a href="#tcash" data-toggle="tab-code" data-lang="telkomsel">Telkomsel Cash</a></li>
  <li><a href="#xltunai" data-toggle="tab-code" data-lang="xl">XL Tunai</a></li>
  <li><a href="#mbill" data-toggle="tab-code" data-lang="mandiribill">Mandiri Bill Payment</a></li>
  <li><a href="#indomrt" data-toggle="tab-code" data-lang="indomaret">Indomaret</a></li>
  <li><a href="#dompetku" data-toggle="tab-code" data-lang="dompetku">Indosat Dompetku</a></li>
  <li><a href="#mandiriecash" data-toggle="tab-code" data-lang="mandiriecash">Mandiri E-cash</a></li>
</ul>
{::options parse_block_html="true" /}
<div class="tab-content">
<div class="tab-pane active" id="testcc"><!-- step cc-->
<!-- CC -->

### Credit Card
Kita akan mencoba transaksi kartu kredit 3D Secure yang berhasil.<br />Informasi kartu kredit uji coba yang dapat digunakan adalah:

| Jenis | Visa |
|---|---|
| Nomor Kartu | 4811 1111 1111 1114 |
| CVV | 123 |
| Exp. Month | 01 |
| Exp. Year | 2020 |

<br /><br>
Mengacu pada petunjuk di tab Mendapatkan URL VT-Web, tampilan halaman VT-Web adalah sebagai berikut:
<br />
![vtweb_test1](/images/vtweb_test.png){: .img-responsive .img-thumbnail}
<br /><br />
Tekan tombol **Pay**, halaman 3D secure akan muncul. Berikut adalah contoh tampilan halaman autentikasi 3D secure pada sandbox.
<br /><br />
![VT-Web 3D Secure](/images/vtweb_3ds.png){: width="784"}{: .img-responsive .img-thumbnail}
<br /><br />
Setelah proses autentikasi selesai dilakukan, hasil pembayaran akan muncul.
<br /><br />
![vtweb_test3](/images/vtweb_test1.png){: width="784"}{: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step cc-->

<div class="tab-pane" id="virtualacc"><!-- step Virtual Account -->

<!-- Virtual Account -->

### Permata Virtual Account
Kami akan mencoba transaksi Virtual Account yang berhasil.

Mengacu pada petunjuk di tab Mendapatkan URL VT-Web, tampilan halaman VT-Web adalah sebagai berikut:
<br />
![VT-Web transfer Test 1](/images/vtweb_transfer_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Klik tombol **Confirm Payment** untuk menampilkan nomor rekening virtual account.
<br />
![VT-Web transfer Test 2](/images/vtweb_transfer_test2.png){: .img-responsive .img-thumbnail}
<br />

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Info**:<br> Catat nomor VA pembayaran anda untuk melakukan pembayaran melalui ATM atau layanan internet banking.
</div>

Sampai tahap ini, transaksi sudah tersimpan di MAP dengan status *pending*.<br> Status transaksi akan berubah menjadi *success* saat pelanggan anda selesai melakukan pembayaran.

* * *

### Simulasi Pembayaran

Untuk memudahkan proses pembayaran, kami menyediakan [simulator pembayaran](https://api.sandbox.midtrans.com:7676/permata/va/index) untuk Sandbox Environment.

Masukan nomor virtual account yang didapat sebelumnya untuk memeriksa apabila ada transaksi pending.
<br />
![VT-Web transfer Test 3](/images/vtweb_transfer_test3.png){: .img-responsive .img-thumbnail}
<br /><br />
Apabila ada transaksi pending, anda dapat melakukan simulasi pembayaran.
<br />
![VT-Web transfer Test 4](/images/vtweb_transfer_test4.png){: .img-responsive .img-thumbnail}
<br /><br />
Simulasi pembayaran Permata Virtual Account berhasil.
<br />
![VT-Web transfer Test 5](/images/vtweb_transfer_test5.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step Virtual Account-->

<div class="tab-pane" id="testmandiri"><!-- step Mandiri Clickpay-->

<!-- Mandiri -->

### Mandiri clickpay
Kami akan mencoba transaksi Mandiri clickpay yang berhasil. <br>Informasi Mandiri clickpay uji coba yang dapat digunakan adalah:<br />

| Fields | Value |
|---|---|
|Card Number|4111 1111 1111 1111|
|Accept Token|000 000|

<br>
<br>
Mengacu pada petunjuk di tab Mendapatkan URL VT-Web, tampilan halaman VT-Web adalah sebagai berikut:
<br />
![VT-Web Mandiri Test 1](/images/vtweb_mandiri_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Klik tombol **Confirm Payment** dan halaman konfirmasi pembayaran VT-Web akan ditunjukkan.
<br />
![VT-Web Mandiri Test 2](/images/vtweb_mandiri_test2.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step Mandiri Clickpay-->

<div class="tab-pane" id="testcimb"><!-- step cimb-->

<!-- cimb -->

### CIMB Clicks
Kami akan mencoba transaksi CIMB Clicks yang berhasil.

Mengacu pada petunjuk di tab Mendapatkan URL VT-Web, tampilan halaman VT-Web adalah sebagai berikut:
<br />
![VT-Web CIMB Test 1](/images/vtweb_cimb_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Klik tombol **Confirm Payment** dan anda akan dialihkan ke halaman pembayaran testing CIMB.
<br />
![VT-Web CIMB Test 2](/images/vtweb_cimb_test2.png){: .img-responsive .img-thumbnail}
<br /><br />
Ketika petunjuk transaksi CIMB Clicks diselesaikan, klik tombol **Bayar** dan halaman konfirmasi pembayaran akan ditampilkan.
<br />
![VT-Web CIMB Test 3](/images/vtweb_cimb_test3.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step cimb-->

<div class="tab-pane" id="bripay"><!-- step epay-->

<!-- BRI -->

### e-Pay BRI
Kami akan mencoba transaksi e-Pay BRI yang berhasil.

Mengacu pada petunjuk di tab Mendapatkan URL VT-Web, tampilan halaman VT-Web adalah sebagai berikut:
<br />
![VT-Web epay Test 1](/images/vtweb_epay_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Klik tombol **Confirm Payment** dan anda akan dialihkan ke halaman pembayaran testing e-Pay BRI.
<br />
![VT-Web epay Test 2](/images/vtweb_epay_test2.png){: .img-responsive .img-thumbnail}
<br /><br />
Ketika petunjuk transaksi e-Pay BRI diselesaikan, klik tombol **Bayar** dan halaman konfirmasi pembayaran akan ditampilkan.
<br />
![VT-Web epay Test 3](/images/vtweb_epay_test3.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step epay-->

<div class="tab-pane" id="tcash"><!-- step T-Cash-->

<!-- Tcash -->

### Telkomsel Cash
Kami akan mencoba transaksi Telkomsel Cash yang berhasil. <br>Informasi Telkomsel Cash uji coba yang dapat digunakan adalah:<br />

| Fields | Value |
|---|---|
|Accept Token|0811 1111 11|

<br>
<br>
Mengacu pada petunjuk di tab Mendapatkan URL VT-Web, tampilan halaman VT-Web adalah sebagai berikut:
<br />
![VT-Web Tcash Test 1](/images/vtweb_tcash_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Klik tombol **Confirm Payment**, hasil status pembayaran VT-Web akan ditampilkan.
<br />
![VT-Web Tcash Test 2](/images/vtweb_tcash_test2.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step Tcash-->
<div class="tab-pane" id="xltunai"><!-- step XL Tunai -->

<!-- XL Tunai -->

### XL Tunai
Kami akan mencoba transaksi XL Tunai yang berhasil.

Mengacu pada petunjuk di tab Mendapatkan URL VT-Web, tampilan halaman VT-Web adalah sebagai berikut:
<br />
![VT-Web xltunai Test 1](/images/vtweb_xl_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Klik tombol **Pay Now** untuk menampilkan nomor order ID XL tunai, total transaksi, dan cara pembayaran.
<br />
![VT-Web xltunai Test 2](/images/vtweb_xl_test2.png){: .img-responsive .img-thumbnail}

Sampai tahap ini, transaksi sudah tersimpan di MAP dengan status *pending*.<br> Status transaksi akan berubah menjadi *success* saat pelanggan anda selesai melakukan pembayaran.

* * *

### Simulasi Pembayaran

Untuk memudahkan proses pembayaran, kami menyediakan [simulator pembayaran](https://api.sandbox.midtrans.com:7676/xl/tunai/index) untuk Sandbox Environment.

Input `12345` sebagai merchant id uji coba and Nomor order ID XL Tunai yang didapat sebelumnya untuk memeriksa apabila ada transaksi pending.
<br />
![VT-Web xltunai Test 3](/images/vtweb_xl_test3.png){: .img-responsive .img-thumbnail}
<br /><br />
Apabila ada transaksi pending, anda dapat melakukan simulasi pembayaran.
<br />
![VT-Web xltunai Test 4](/images/vtweb_xl_test4.png){: .img-responsive .img-thumbnail}
<br /><br />
Simulasi pembayaran XL Tunai berhasil.
<br />
![VT-Web xltunai Test 5](/images/vtweb_xl_test5.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step xltunai-->
<div class="tab-pane" id="mbill"><!-- step Mandiri bill payment -->

<!-- mandiri bill payment -->

### Mandiri Bill Payment
Kami akan mencoba transaksi Mandiri Bill Payment yang berhasil.

Mengacu pada petunjuk di tab Mendapatkan URL VT-Web, tampilan halaman VT-Web adalah sebagai berikut:
<br />
![VT-Web mbill Test 1](/images/vtweb_mbill_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Klik tombol **Show Payment Code** untuk menampilkan company code dan nomor payment code.
<br />
![VT-Web mbill Test 2](/images/vtweb_mbill_test2.png){: .img-responsive .img-thumbnail}
<br />

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Note**:<br> Catat company code dan nomor payment code, kemudian lakukan pembayaran melalui channel pembayaran Mandiri.
</div>

Sampai tahap ini, transaksi sudah tersimpan di MAP dengan status *pending*. <br>Status transaksi akan berubah menjadi *success* saat pelanggan anda selesai melakukan pembayaran.

* * *

### Simulasi Pembayaran

Untuk memudahkan proses pembayaran, kami menyediakan [simulator pembayaran](https://api.sandbox.midtrans.com:7676/mandiri/bill/index) untuk Sandbox Environment.

Input nomor payment code yang didapat sebelumnya untuk memeriksa apabila ada transaksi pending.
<br />
![VT-Web mbill Test 3](/images/vtweb_mbill_test3.png){: .img-responsive .img-thumbnail}
<br /><br />
Apabila ada transaksi pending, anda dapat melakukan simulasi pembayaran.
<br />
![VT-Web mbill Test 4](/images/vtweb_mbill_test4.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step Mandiri Billpayment-->
<div class="tab-pane" id="indomrt"><!-- step Indomaret -->

### Indomaret
Kita akan mencoba transaksi Indomaret yang berhasil.

Mengacu pada petunjuk di tab Mendapatkan URL VT-Web, tampilan halaman VT-Web adalah sebagai berikut:
<br />
![VT-Web indomrt1](/images/vtweb_indomrt_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Klik tombol **Confirm Payment** untuk menampilkan kode pembayaran dan instruksi cara melakukan pembayaran.
<br />
![VT-Web indomrt2](/images/vtweb_indomrt_test2.png){: .img-responsive .img-thumbnail}
<br />

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Note**:<br> Catat kode pembayaran dan lakukan pembayaran melalui kasir Indomaret terdekat.
</div>

Sampai tahap ini, transaksi sudah tersimpan di MAP dengan status *pending*. <br>Status transaksi akan berubah menjadi *success* saat pelanggan anda selesai melakukan pembayaran.

* * *

### Simulasi Pembayaran

Untuk memudahkan proses pembayaran, kami menyediakan [simulator pembayaran](https://api.sandbox.midtrans.com:7676/indomaret/index) untuk Sandbox Environment.

Masukan nomor kode pembayaran yang di dapat sebelumnya untuk memeriksa apabila ada transaksi pending.
<br />
![VT-Web indomrt3](/images/vtweb_indomrt_test3.png){: .img-responsive .img-thumbnail}
<br /><br />
Apabila ada transaksi pending, anda dapat melakukan simulasi pembayaran.
<br />
![VT-Web indomrt4](/images/vtweb_indomrt_test4.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step Indomaret -->
<div class="tab-pane" id="dompetku"><!-- step Indosat Dompetku-->

### Indosat Dompetku
Kami akan mencoba transaksi Indosat Dompetku yang berhasil. <br>Nomor Indosat Dompetku yang dapat digunakan adalah:<br />

| Fields | Value |
|---|---|
|Nomor Berhasil|08123456789|

<br>
<br>
Mengacu pada petunjuk di tab Mendapatkan URL VT-Web, tampilan halaman VT-Web adalah sebagai berikut:
<br />
![VT-Web dompetku Test 1](/images/vtweb_dompetku_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Klik tombol **Confirm Payment**, hasil status pembayaran VT-Web akan ditampilkan.
<br />
![VT-Web dompetku Test 2](/images/vtweb_dompetku_test2.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step Indosat Dompetku-->

<div class="tab-pane" id="mandiriecash"><!-- step Mandiri E-cash-->

### Mandiri E-cash
Kami akan mensimulasikan transaksi Mandiri E-cash yang berhasil. <br>Berikut di bawah ini adalah data testing yang dapat digunakan:<br />

| Fields | Value |
|---|---|
|Nomor Berhasil|08123456789|
|PIN|12345|
|OTP|12123434|

<br>
<br>
Mengacu pada petunjuk di tab Mendapatkan URL VT-Web, tampilan halaman VT-Web adalah sebagai berikut:
<br />
![VT-Web mandiriecash Test 1](/images/vtweb_mandiri_ecash.png){: .img-responsive .img-thumbnail}
<br /><br />
Klik tombol Confirm Payment dan anda akan diarahkan ke halaman pembayaran Mandiri E-cash untuk login dengan nomor telepon dan PIN
<br />
![VT-Web mandirecash Test 2](/images/vtweb_mandiriecash_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Masukkan OTP untuk menyelesaikan pembayaran
<br />
![VT-Web mandirecash Test 3](/images/vtweb_mandiriecash_test2.png){: .img-responsive .img-thumbnail}
<br /><br />
Halaman konfirmasi pembayaran berhasil
<br />
![VT-Web mandirecash Test 4](/images/vtweb_mandiriecash_test3.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step Mandiri E-cash-->

</div><!-- end of tab-content u/ testing-->
</div><!-- end of step 2-->

<div class="tab-pane" id="step3"><!-- step 3-->

<!-- Three -->

## Status Transaksi ##

Midtrans menyediakan dua cara agar merchant dapat mengetahui status transaksi.

1. Email & HTTP Notification
2. Merchant Administration Portal


### Email Notification

Setting notifikasi email dapat dikonfigurasi di [Settings - Email Notification](https://dashboard.sandbox.midtrans.com/settings/email_notifications) di MAP.

![config_payment](/images/vtweb-emailnotif.png){: .img-responsive .img-thumbnail}

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Info**:<br> Pakai koma sebagai pemisah apabila email lebih dari satu. Contoh : Andri@myemail.com, litani@myemail.com
</div>

<br>

***

### HTTP(S) POST Notification
Notifikasi melalui HTTP(S) POST akan dikirimkan ke server merchant ketika pelanggan menyelesaikan proses pembayaran. Anda dapat memakai *HTTP(S) POST notification* untuk meng-*update* status pembayaran atau mengirimkan barang transaksi secara langsung.

Endpoint notifikasi bisa di-set melalui MAP, di halaman [Settings - Configuration](https://dashboard.sandbox.midtrans.com/settings/vtweb_configuration/ "Midtrans VT-Web configuration page").
<br />
![config_payment](/images/vtweb-httpnotif.png){: .img-responsive .img-thumbnail}
<br />

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  <span class="sr-only">Peringatan:</span>
<strong>Note:</strong>

Pastikan alamat notifikasi HTTP POST yang anda masukan tidak berupa alamat localhost.
</div>

<br>

Isi dari notifikasi HTTP(S) POST berupa JSON object.<br>Contoh notifikasi yang dikirimkan adalah sebagai berikut:

<ul class="nav nav-tabs">
  <li class="active"><a href="#statuscc" data-toggle="tab-code" data-lang="cc">Credit Card</a></li>
  <li><a href="#statuspermatava" data-toggle="tab-code" data-lang="permata">Virtual Account</a></li>
  <li><a href="#statusmandiri" data-toggle="tab-code" data-lang="mandiri">Mandiri ClickPay</a></li>
  <li><a href="#statuscimb" data-toggle="tab-code" data-lang="cimb">CIMB Clicks</a></li>
  <li><a href="#statusbriepay" data-toggle="tab-code" data-lang="bri">ePay BRI</a></li>
  <li><a href="#statustcash" data-toggle="tab-code" data-lang="telkomsel">Telkomsel Cash</a></li>
  <li><a href="#statusxltunai" data-toggle="tab-code" data-lang="xl">XL Tunai</a></li>
  <li><a href="#statusmbill" data-toggle="tab-code" data-lang="mandiribill">Mandiri Bill Payment</a></li>
  <li><a href="#statusindomrt" data-toggle="tab-code" data-lang="indomaret">Indomaret</a></li>
  <li><a href="#statusdompetku" data-toggle="tab-code" data-lang="dompetku">Indosat Dompetku</a></li>
  <li><a href="#statusmandiriecash" data-toggle="tab-code" data-lang="mandiriecash">Mandiri E-cash</a></li>
</ul>

<div class="tab-content"><!-- Status Tab Content-->
{::options parse_block_html="true" /}
<div class="tab-pane active" id="statuscc"><!-- step cc-->

### Credit Card

Contoh Notifikasi HTTP untuk transaksi kartu kredit yang berhasil:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "3a351906-2a89-47b6-8b88-d890e626ba4d",
  "masked_card": "481111-1114",
  "order_id": "VTCC001",
  "payment_type": "credit_card",
  "transaction_time": "2015-04-27 14:29:32",
  "transaction_status": "capture",
  "fraud_status": "accept",
  "approval_code": "1430119773366",
  "signature_key": "e192d421a3a4ad5c53d866d6591d75c3982e4019cd6f8954a0aa0d9387af44b983ca182c9c8b0fdfd5ba1ec2d10057f37b6dfb86742f5657800fa82282993e68",
  "bank": "mandiri",
  "eci": "05",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Status Notifikasi HTTP(S) POST Yang Tersedia

| transaction_status | Definisi |
|---|---|
|capture | Transaksi berhasil dan siap untuk settlement.|
|cancel | Transaksi dibatalkan dan tidak akan diproses untuk settlement.|
|settlement | Dana transaksi berpindah dari akun pelanggan ke akun merchant.|
|deny | Transaksi ditolak oleh bank atau Sistem Deteksi Penipuan(FDS) Midtrans. |

<br>

| fraud_status | Definisi |
|---|---|
|accept | Transaksi diterima oleh FDS Midtrans. |
|challenge | Transaksi dianggap mencurigakan oleh FDS. Merchant harus menerima atau menolak transaksi secara manual. |
|deny | Transaksi ditolak oleh FDS Midtrans. |

<br>



* * *

### Status Transaksi Merchant Admin Portal(MAP)

Merchant dapat memeriksa status transaksi melalui menu [payments](https://dashboard.sandbox.midtrans.com/payments) di MAP.

Contoh transaksi status yang sukses untuk pembayaran kartu kredit:
![map_transaction](/images/map_transaction.png){: .img-responsive .img-thumbnail}

<br />

Daftar status transaksi yang tersedia di MAP untuk pembayaran Kartu Kredit adalah sebagai berikut:

| Status Transaksi | Definisi |
|---|---|
| Success | Transaksi diterima dan akan diproses untuk settlement.|
| Challenge | Transaksi kartu kredit dianggap mencurigakan oleh Sistem Deteksi Penipuan (FDS) Midtrans. Merchant harus menerima atau menolak transaksi secara manual melalui Midtrans Dashboard.|
| Failure | Transaksi Failure dapat diakibatkan oleh:<br> 1. Transaksi ditolak oleh Bank.<br>2. Transaksi Kartu Kredit ditolak oleh FDS Midtrans.|
| Cancel | Transaksi Cancel dapat diakibatkan oleh:<br>1. Transaksi yang sukses dibatalkan sebelum proses Settlement.<br>2. Transaksi Challenge ditolak oleh merchant. |

</div> <!-- End of Credit Card Status -->

<div class="tab-pane" id="statuspermatava"><!-- Permata VA Status -->

### Permata Virtual Account

Contoh Notifikasi HTTP untuk transaksi Permata Virtual Account yang berhasil:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "9a31e442-951f-490d-9b9c-9e618ec98874",
  "order_id": "VTVA001",
  "payment_type": "bank_transfer",
  "transaction_time": "2015-04-27 14:39:16",
  "transaction_status": "settlement",
  "permata_va_number": "8778006776893528",
  "signature_key": "31b482e796c35153e829a85c59d831313694cd0c7cecdbb85a7a33474f431fbea75f440f57d09608ea1889a9eedd950017f1162ae37a2ec9b00084d932fb5309",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Status Notifikasi HTTP(S) POST Yang Tersedia

| transaction_status | Definisi |
|---|---|
|pending | Transaksi belum terproses dan masi menunggu untuk diselesaikan.|
|cancel | Transaksi sudah dibatalkan. Nomor VA Permata sudah tidak valid.|
|expire | Transaksi belum diselesaikan dan sudah melewati masa berlaku. Nomor VA Permata sudah tidak valid.|
|settlement | Dana transaksi berpindah dari akun pelanggan ke akun merchant.|

<!-- LIST OF STATUS THAT IS AVAILABLE IN THE FUTURE
|refund | Transaction is fully refunded to the customer.|
|partial_refund | Transaction is partially refunded to the customer.|
-->

<br>


* * *

### Status Transaksi Merchant Admin Portal(MAP)

Merchant dapat memeriksa status transaksi melalui menu [payments](https://dashboard.sandbox.midtrans.com/payments) di MAP.

Contoh transaksi status yang sukses untuk pembayaran Permata Virtual Account:
![VT-Web transfer Test 3](/images/transfer_status.png){: .img-responsive .img-thumbnail}

<br />

Daftar status transaksi yang tersedia di MAP untuk pembayaran Permata Virtual Account adalah sebagai berikut:

|Transaction Status | Definisi |
|---|---|
| Pending | Transaksi belum diselesaikan dan akan menghasilkan status Pending.<br>Ketika pelanggan menyelesaikan pembayaran, status akan berubah menjadi 'success'.|
| Settlement | Transaksi diterima.|
| Failure | Transaksi Failure dapat diakibatkan oleh:<br> 1. Transaksi ditolak oleh Bank.<br>2. Transaksi Pending belum dibayar dan sudah melewati masa berlaku.|

</div><!-- End of Permata VA Status -->
<div class="tab-pane" id="statusmandiri"><!-- Mandiri Status -->

### Mandiri clickpay

Contoh Notifikasi HTTP untuk transaksi Mandiri clickpay yang berhasil:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "fdb6322d-2fef-42c5-a956-d6b575247f0b",
  "masked_card": "411111-1111",
  "order_id": "VTMC001",
  "payment_type": "mandiri_clickpay",
  "transaction_time": "2015-04-27 14:44:38",
  "transaction_status": "settlement",
  "approval_code": "1430120681256",
  "signature_key": "6dfe98c7e8e1cc4725fa10d82e696816a04c5c0fdf819af3fef65d825b4b1cad0c024a3f1813f3cb590657d8cd3edabfb4e91dbb4376344f7460ed00637cd967",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Status Notifikasi HTTP(S) POST Yang Tersedia

| transaction_status | Definisi |
|---|---|
|settlement | Dana transaksi berpindah dari akun pelanggan ke akun merchant.|
|deny | Transaksi ditolak oleh bank. |

<br>



* * *

### Status Transaksi Merchant Admin Portal(MAP)

Merchant dapat memeriksa status transaksi melalui menu [payments](https://dashboard.sandbox.midtrans.com/payments) di MAP.

Contoh transaksi status yang sukses untuk pembayaran Mandiri clickpay:
![VT-Web Mandiri Test 3](/images/mandiri_status.png){: .img-responsive .img-thumbnail}

<br />

Daftar status transaksi yang tersedia di MAP untuk pembayaran Mandiri Clickpay adalah sebagai berikut:

|Transaction Status | Definisi |
|---|---|
| Settlement | Transaksi diterima.|
| Failure | Transaksi Failure dapat diakibatkan oleh:<br> 1. Transaksi ditolak oleh Bank.|

</div><!-- End of Mandiri Status -->
<div class="tab-pane" id="statuscimb"><!-- CIMB Status -->

### CIMB Clicks

Contoh Notifikasi HTTP untuk transaksi CIMB Clicks yang berhasil:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "47c11d2a-a8ca-4337-8681-8837ad023d65",
  "order_id": "VTCimb001",
  "payment_type": "cimb_clicks",
  "transaction_time": "2015-04-27 14:58:01",
  "transaction_status": "settlement",
  "approval_code": "1430121525724",
  "signature_key": "d70a32353c173b543b7580f8927a3c46c547ef4486457ca8b61f44eb644e7a76cccbbd244ec6f188d3ef8cc164950a02f8350e7d305fd635795b909aa0188975",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Status Notifikasi HTTP(S) POST Yang Tersedia

| transaction_status | Definisi |
|pending | Transaksi belum terproses dan masih menunggu untuk diselesaikan. |
|cancel | Transaksi CIMB Clicks telah dibatalkan. |
|expire | Transaksi CIMB Clicks belum diselesaikan setelah 2 jam.|
|deny | Transaksi CIMB Clicks ditolak oleh bank. |
|settlement | Dana transaksi berpindah dari akun pelanggan ke akun merchant.|

<br>

* * *

### Status Transaksi Merchant Admin Portal(MAP)

Merchant dapat memeriksa status transaksi melalui menu [payments](https://dashboard.sandbox.midtrans.com/payments) di MAP.

Contoh transaksi status yang sukses untuk pembayaran CIMB Clicks:
![VT-Web CIMB Test 4](/images/cimb_status.png){: .img-responsive .img-thumbnail}

<br />

Daftar status transaksi yang tersedia di MAP untuk pembayaran CIMB Clicks adalah sebagai berikut:

|Transaction Status | Definisi |
|---|---|
| Pending | Transaksi belum diselesaikan dan akan menghasilkan status Pending.<br>Ketika pelanggan menyelesaikan pembayaran, status akan berubah menjadi 'settlement'.|
| Settlement | Transaksi diterima.|
| Failure | Transaksi Failure dapat diakibatkan oleh:<br> 1. Transaksi ditolak oleh Bank.<br>2. Transaksi Pending belum dibayar dan sudah melewati masa berlaku.|

</div><!-- End of CIMB Status -->

<div class="tab-pane" id="statusbriepay"><!-- BRI E-Pay Status -->

### e-Pay BRI

Contoh Notifikasi HTTP untuk transaksi e-Pay BRI yang berhasil:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "3479c572-1d36-49c0-b5b1-22c876df411f",
  "order_id": "VTEB001",
  "payment_type": "bri_epay",
  "transaction_time": "2015-04-27 15:04:48",
  "transaction_status": "settlement",
  "approval_code": "1430121888862",
  "signature_key": "39ec591fbf754982e0fb83d125b60ff1863b41878799d1adada69476d6f3b746631addce8bf51a9d7bb76d92cea5a4291d57ed4626c0dc8cfefa5f3112887bcd",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Status Notifikasi HTTP(S) POST Yang Tersedia

| transaction_status | Definisi |
|---|---|
|pending | Transaksi belum terproses dan masi menunggu untuk diselesaikan. |
|cancel | Transaksi e-Pay BRI telah dibatalkan. |
|expire | Transaksi e-Pay BRI belum diselesaikan setelah 2 jam.|
|deny | Transaksi e-Pay BRI ditolak oleh bank. |
|settlement | Dana transaksi berpindah dari akun pelanggan ke akun merchant.|

<br>


* * *

### Status Transaksi Merchant Admin Portal(MAP)

Merchant dapat memeriksa status transaksi melalui menu [payments](https://dashboard.sandbox.midtrans.com/payments) di MAP.

Contoh transaksi status yang sukses untuk pembayaran e-Pay BRI:
![VT-Web epay Test 4](/images/epay_status.png){: .img-responsive .img-thumbnail}

<br />

Daftar status transaksi yang tersedia di MAP untuk pembayaran e-Pay BRI adalah sebagai berikut:

|Transaction Status | Definisi |
|---|---|
| Pending | Transaksi belum diselesaikan dan akan menghasilkan status Pending.<br>Ketika pelanggan menyelesaikan pembayaran, status akan berubah menjadi 'success'.|
| Settlement | Transaksi diterima.|
| Failure | Transaksi Failure dapat diakibatkan oleh:<br> 1. Transaksi ditolak oleh Bank.<br>2. Transaksi Pending belum dibayar dan sudah melewati masa berlaku.|

<br>

</div><!-- End of BRI E-Pay Status -->
<div class="tab-pane" id="statustcash"><!-- T-Cash Status -->

### Telkomsel Cash

Contoh Notifikasi HTTP untuk transaksi Telkomsel Cash yang berhasil:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "ee925bec-3bef-43a6-bb10-cbe8ab8fa68a",
  "order_id": "Test-Order-6",
  "payment_type": "telkomsel_cash",
  "transaction_time": "2015-04-27 15:08:21",
  "transaction_status": "settlement",
  "signature_key": "a1ea0f3fd4690896464752a311fe0d7e53c9f75138f06c1cdd4d4d8bf7664214ff9ef2966a966e9507709041d6403f81ea2b3b76ce67f1437bc5e82913c4c545",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Status Notifikasi HTTP(S) POST Yang Tersedia

| transaction_status | Definisi |
|---|---|
|deny | Transaksi Telkomsel Cash ditolak oleh Telkomsel. |
|settlement | Dana transaksi berpindah dari akun pelanggan ke akun merchant.|

<br>

* * *

### Status Transaksi Merchant Admin Portal(MAP)

Merchant dapat memeriksa status transaksi melalui menu [payments](https://dashboard.sandbox.midtrans.com/payments) di MAP.

Contoh transaksi status yang sukses untuk pembayaran Telkomsel Cash:
![VT-Web Tcash Test 3](/images/tcash_status.png){: .img-responsive .img-thumbnail}

<br />

Daftar status transaksi yang tersedia di MAP untuk pembayaran Telkomsel Cash adalah sebagai berikut:

|Transaction Status | Definisi |
|---|---|
| Success | Transaksi diterima dan sudah diproses untuk settlement.|
| Failure | Transaksi Failure dapat diakibatkan oleh:<br> 1. Transaksi ditolak oleh Bank.|

</div><!-- End of T-Cash Status -->
<div class="tab-pane" id="statusxltunai"><!-- XL Tunai Status -->

### XL Tunai

Contoh Notifikasi HTTP untuk transaksi XL Tunai yang berhasil:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "1731610c-cbe5-4f59-a976-8206f3a59bc0",
  "order_id": "vtimage07",
  "payment_type": "xl_tunai",
  "transaction_time": "2015-04-27 15:20:40",
  "transaction_status": "settlement",
  "signature_key": "288f5b0f069d5d15383d1e0a13c34944c8681f5d0d1168727e9a3678581bda48736780b558567d16d35be9ee09f552f9a008f04980a5afef6bfc57a6df180f78",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Status Notifikasi HTTP(S) POST Yang Tersedia

| transaction_status | Definisi |
|---|---|
|pending | Transaksi belum terproses dan masi menunggu untuk diselesaikan. |
|cancel | Transaksi XL Tunai telah dibatalkan. |
|expire | Transaksi XL Tunai belum diselesaikan setelah 2 jam.|
|deny | Transaksi XL Tunai ditolak oleh bank. |
|settlement | Dana transaksi berpindah dari akun pelanggan ke akun merchant.|

<br>


* * *

### Status Transaksi Merchant Admin Portal(MAP)

Merchant dapat memeriksa status transaksi melalui menu [payments](https://dashboard.sandbox.midtrans.com/payments) di MAP.

Contoh transaksi status yang sukses untuk pembayaran XL Tunai:
![VT-Web transfer Test 3](/images/xl_status.png){: .img-responsive .img-thumbnail}

<br />

Daftar status transaksi yang tersedia di MAP untuk pembayaran XL Tunai adalah sebagai berikut:

|Transaction Status | Definisi |
|---|---|
| Pending | Transaksi belum diselesaikan dan akan menghasilkan status Pending.<br>Ketika pelanggan menyelesaikan pembayaran, status akan berubah menjadi 'success'.|
| Success | Transaksi diterima dan sudah diproses untuk settlement.|
| Failure | Transaksi Failure dapat diakibatkan oleh:<br> 1. Transaksi ditolak oleh Bank.<br>2. Transaksi Pending belum dibayar dan sudah melewati masa berlaku.|

</div><!-- End of XL Tunai Status -->
<div class="tab-pane" id="statusmbill"><!-- Mandiri BillPayment Status -->

### Mandiri Bill Payment

Contoh Notifikasi HTTP untuk transaksi Mandiri Bill Payment yang berhasil:

~~~ json
{
    "status_code": "201",
    "status_message": "Success, Mandiri Bill transaction is successful",
    "transaction_id": "0b53c7dc­e63c­4bbc­a371­6b1ca5c925c7",
    "order_id": "1421816431",
    "payment_type": "echannel",
    "transaction_time": "2015­01­21 12:00:31",
    "transaction_status": "pending",
    "biller_code": "70012",
    "bill_key": "000857123456",
    "gross_amount": "400000.00"
}
~~~

<br>

#### Status Notifikasi HTTP(S) POST Yang Tersedia

| transaction_status | Definisi |
|---|---|
|pending | Transaksi belum terproses dan masih menunggu untuk diselesaikan. |
|cancel | Transaksi telah dibatalkan. Nomor Mandiri Bill sudah tidak valid. |
|expire | Transaksi belum diselesaikan setelah waktu berlaku. Nomor Mandiri Bill sudah tidak valid.|
|settlement | Dana transaksi berpindah dari akun pelanggan ke akun merchant.|

<br>


* * *

### Status Transaksi Merchant Admin Portal(MAP)

Merchant dapat memeriksa status transaksi melalui menu [Transaction](https://dashboard.sandbox.midtrans.com/payments) di MAP.

Contoh transaksi status yang sukses untuk pembayaran Mandiri Bill Payment:
![VT-Web mbill Test 3](/images/mbill_status.png){: .img-responsive .img-thumbnail}

<br />

Daftar status transaksi yang tersedia di MAP untuk pembayaran Mandiri Bill Payment adalah sebagai berikut:

|Transaction Status | Definisi |
|---|---|
| Pending | Transaksi belum diselesaikan dan akan menghasilkan status Pending.<br>Ketika pelanggan menyelesaikan pembayaran, status akan berubah menjadi 'success'.|
| Success | Transaksi diterima dan sudah diproses untuk settlement.|
| Failure | Transaksi Failure dapat diakibatkan oleh:<br> 1. Transaksi ditolak oleh Bank.<br>2. Transaksi Pending belum dibayar dan sudah melewati masa berlaku.|

</div><!-- End of Mandiri BillPayment Status -->

<div class="tab-pane" id="statusindomrt"><!-- Indomaret Status -->

### Indomaret

Contoh Notifikasi HTTP untuk transaksi Indomaret yang berhasil:

~~~ json
{
    "status_code": "201",
    "status_message": "Success, CSTORE transaction is successful",
    "transaction_id": "0b53c7dc­e63c­4bbc­a371­6b1ca5c925c7",
    "order_id": "vtindomrt01",
    "payment_type": "cstore",
    "transaction_time": "2015­01­21 12:00:31",
    "transaction_status": "pending",
    "payment_code": "741122334455",
    "gross_amount": "145000.00"
}
~~~

<br>

#### Status Notifikasi HTTP(S) POST Yang Tersedia

| transaction_status | Definisi |
|---|---|
|pending | Transaksi belum terproses dan masi menunggu untuk diselesaikan. |
|cancel | Transaksi telah dibatalkan. Nomor kode pembayaran Indomaret sudah tidak valid. |
|expire | Transaksi belum diselesaikan setelah waktu berlaku. Nomor kode pembayaran Indomaret sudah tidak valid.|
|settlement | Dana transaksi berpindah dari akun pelanggan ke akun merchant.|

<br>

* * *

### Status Transaksi Merchant Admin Portal(MAP)

Merchant dapat memeriksa status transaksi melalui menu [payments](https://dashboard.sandbox.midtrans.com/payments) di MAP.

Contoh transaksi status yang sukses untuk pembayaran Indomaret:
![VT-Web indomrt3](/images/indomrt_status.png){: .img-responsive .img-thumbnail}

<br />

Daftar status transaksi yang tersedia di MAP untuk pembayaran Mandiri Bill Payment adalah sebagai berikut:

|Transaction Status | Definisi |
|---|---|
| Pending | Transaksi belum diselesaikan dan akan menghasilkan status Pending.<br>Ketika pelanggan menyelesaikan pembayaran, status akan berubah menjadi 'success'.|
| Settlement | Transaksi diterima dan sudah diproses untuk settlement.|
| Failure | Transaksi Failure dapat diakibatkan oleh:<br> 1. Transaksi ditolak oleh Bank.<br>2. Transaksi Pending belum dibayar dan sudah melewati masa berlaku.|

</div><!-- End of indomaret Status -->
<div class="tab-pane" id="statusdompetku"><!-- Indosat Dompetku Status -->

### Indosat Dompetku

Contoh Notifikasi HTTP untuk transaksi Indosat Dompetku yang berhasil:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "0b7696f1-f9ca-4f4b-a389-ede2c2dddb5c",
  "order_id": "vtdompetku03",
  "payment_type": "indosat_dompetku",
  "transaction_time": "2015-06-24 11:20:24",
  "transaction_status": "settlement",
  "signature_key": "73c70c8354e0705a16bd5d47d0ab3029a70b79bef0fe3b29161557110205d3679f0ea177101f56fe6313a887f340be7d302750ce8a4e0f67753c70548159895e",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Status Notifikasi HTTP(S) POST Yang Tersedia

| transaction_status | Definisi |
|---|---|
|deny | Transaksi Indosat Dompetku ditolak oleh Indosat. |
|settlement | Dana transaksi berpindah dari akun pelanggan ke akun merchant.|

<br>

* * *

### Status Transaksi Merchant Admin Portal(MAP)

Merchant dapat memeriksa status transaksi melalui menu [payments](https://dashboard.sandbox.midtrans.com/payments) di MAP.

Contoh transaksi status yang sukses untuk pembayaran Indosat Dompetku:
![VT-Web dompetku Test 3](/images/dompetku_status.png){: .img-responsive .img-thumbnail}

<br />

Daftar status transaksi yang tersedia di MAP untuk pembayaran Indosat Dompetku adalah sebagai berikut:

|Transaction Status | Definisi |
|---|---|
| Settlement | Transaksi berhasil dan sudah diproses|
| Failure | Transaksi Failure karena ditolak oleh provider.|

</div><!-- End of Indosat Dompetku Status -->

<div class="tab-pane" id="statusmandiriecash"><!-- Mandiri E-cash Status -->

### Mandiri E-cash

Contoh Notifikasi HTTP untuk transaksi Mandiri E-cash yang berhasil:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "0b7696f1-f9ca-4f4b-a389-ede2c2dddb5c",
  "order_id": "vtecash03",
  "payment_type": "mandiri_ecash",
  "transaction_time": "2015-06-24 11:20:24",
  "transaction_status": "settlement",
  "signature_key": "73c70c8354e0705a16bd5d47d0ab3029a70b79bef0fe3b29161557110205d3679f0ea177101f56fe6313a887f340be7d302750ce8a4e0f67753c70548159895e",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Status Notifikasi HTTP(S) POST Yang Tersedia

| transaction_status | Definisi |
|---|---|
|Pending | Transaksi belum diselesaikan dan akan menghasilkan status Pending.<br>Ketika pelanggan menyelesaikan pembayaran, status akan berubah menjadi 'success'. |
|settlement | Pelanggan sudah menyelesaikan pembayaran dan berhasil.|
|expired | Pelanggan tidak menyelesaikan sampai batas waktu yang ditentukan.|

<br>


* * *

### Status Transaksi Merchant Admin Portal(MAP)

Merchant dapat memeriksa status transaksi melalui menu [payments](https://dashboard.sandbox.midtrans.com/payments) di MAP.

Contoh transaksi status yang sukses untuk pembayaran Mandiri E-cash:
![VT-Web mandiriecash Test 3](/images/mandiriecash_status.png){: .img-responsive .img-thumbnail}

<br />

Daftar status transaksi yang tersedia di MAP untuk pembayaran Mandiri E-cash adalah sebagai berikut:

|Transaction Status | Definisi |
|---|---|
|Pending | Transaksi belum diselesaikan dan akan menghasilkan status Pending.<br>Ketika pelanggan menyelesaikan pembayaran, status akan berubah menjadi 'success'. |
|Success | Pelanggan sudah menyelesaikan pembayaran dan berhasil.|
|Failure | Pelanggan tidak menyelesaikan sampai batas waktu yang ditentukan.|

</div><!-- End of Mandiri E-cash Status -->

</div><!-- End of Tab-Content u/ Status -->

</div><!-- end of step 3-->

<div class="tab-pane" id="step4"><!-- step 4-->

## Menangani HTTP(S) Notifikasi

Berikut adalah contoh kode untuk menerima HTTP (POST) dan JSON object menggunakan Library **Veritrans-PHP**.<br> File ini adalah file PHP yang akan di eksekusi ketika URL endpoint notifikasi *http://sneekers.com/payment/notification* diakses.<br />

<br>

~~~ php
<?php

require_once('Veritrans.php');
Veritrans_Config::$isProduction = false;
Veritrans_Config::$serverKey = '<your serverkey>';
$notif = new Veritrans_Notification();

$transaction = $notif->transaction_status;
$type = $notif->payment_type;
$order_id = $notif->order_id;
$fraud = $notif->fraud_status;

if ($transaction == 'capture') {
  // For credit card transaction, we need to check whether transaction is challenge by FDS or not
  if ($type == 'credit_card'){
    if($fraud == 'challenge'){
      // TODO set payment status in merchant's database to 'Challenge by FDS'
      // TODO merchant should decide whether this transaction is authorized or not in MAP
      echo "Transaction order_id: " . $order_id ." is challenged by FDS";
      }
      else {
      // TODO set payment status in merchant's database to 'Success'
      echo "Transaction order_id: " . $order_id ." successfully captured using " . $type;
      }
    }
  }
else if ($transaction == 'settlement'){
  // TODO set payment status in merchant's database to 'Settlement'
  echo "Transaction order_id: " . $order_id ." successfully transfered using " . $type;
  }
  else if($transaction == 'pending'){
  // TODO set payment status in merchant's database to 'Pending'
  echo "Waiting customer to finish transaction order_id: " . $order_id . " using " . $type;
  }
  else if ($transaction == 'deny') {
  // TODO set payment status in merchant's database to 'Denied'
  echo "Payment using " . $type . " for transaction order_id: " . $order_id . " is denied.";
  }
  else if ($transaction == 'expire') {
  // TODO set payment status in merchant's database to 'expire'
  echo "Payment using " . $type . " for transaction order_id: " . $order_id . " is expired.";
  }
  else if ($transaction == 'cancel') {
  // TODO set payment status in merchant's database to 'Denied'
  echo "Payment using " . $type . " for transaction order_id: " . $order_id . " is canceled.";
}
?>

~~~

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Info**:<br> Untuk keamanan, jika Merchant menggunakan _Veritrans_Notification_ seperti pada contoh di Library PHP, proses [challenge status](https://api-docs.midtrans.com/#handing-notifications) sudah dilakukan.
</div>

<br><br>

</div><!-- end of step 4-->
</div><!-- end of STEPS tab-content-->
</div><!-- end of header-->
