<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_php.html" do image_tag("/images/php_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_prestashop.html" do image_tag("/images/prestashop_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_magento.html" do image_tag("/images/magento_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_opencart.html" do image_tag("/images/opencart.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_woocommerce.html" do image_tag("/images/woocommerce_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Drupal" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_drupal.html" do image_tag("/images/drupal_grey.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
		<%= link_to "/id/vtweb/integration_whmcs.html" do image_tag("/images/whmcs_gray.png") end %>
		</div>
	</div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### Tahapan Integrasi VT-Web OpenCart
<ol>
  <li>Instalasi Plugin</li>
  <li>Tes Transaksi</li>
</ol>

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#opencart-step1" data-toggle="tab"><span>Tahap 1</span>Instalasi Plugin</a></li>
  <li><a href="#opencart-step2" data-toggle="tab"><span>Tahap 2</span>Tes Transaksi</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="opencart-step1">

#### Apa yang Diperlukan

1. Sebuah toko online berbasis OpenCart. (Plugin ini di-test dengan OpenCart versi 1.5.6.4)
2. PHP versi minimal 5.4.
3. Plugin Midtrans untuk OpenCart \[ [Github](https://github.com/veritrans/vtweb-opencart) \| [Zip](https://github.com/veritrans/vtweb-opencart/archive/master.zip) \].

<br />

#### Proses Instalasi

1. Ekstrak file vtweb-opencart-master.zip yang sudah di-download sebelumnya.
2. Di dalam folder zip tersebut terdapat tiga folder (admin, catalog, dan system). Upload folder tersebut ke dalam direktori OpenCart anda.
<br />

#### Konfigurasi Plugin

Untuk melakukan konfigurasi plugin Midtrans-OpenCart:

1. Masuk ke halaman admin OpenCart anda.
2. Buka menu **Extension - Payments** pada halaman administrasi OpenCart.
3. Cari lalu install module Veritrans untuk mengaktifkan plugin.
4. Pada modul Veritrans klik **Edit** untuk masuk ke halaman plugin.
5. Masukkan data-data yang diperlukan seperti gambar di bawah ini.
<br /><br />
	![OpenCart Setting](/images/opencart00.png){: .img-responsive .img-thumbnail}
<br /><br />
6. Klik **Save** untuk menyimpan konfigurasi.

7. Login ke [Settings - Configuration](https://my.sandbox.veritrans.co.id/settings/vtweb_configuration) pada MAP untuk mengubah konfigurasi berikut:

	| URL Role | Redirect URL|
  |---|---|
  | Payment Notification URL | http://[your shop’s homepage]/index.php?route=payment/veritrans/payment_notification |
  | Finish Redirect URL | http://[your shop’s homepage]/index.php?route=payment/veritrans/landing_redir& |
  | Error Redirect URL | http://[your shop’s homepage]/index.php?route=payment/veritrans/landing_redir& |
  | Unfinish Redirect URL | http://[your shop’s homepage]/index.php?route=payment/veritrans/landing_redir& |

</div>

<div class="tab-pane" id="opencart-step2">
<br />

1. Lakukan transaksi sukses di toko Anda dengan menggunakan nomor kartu kredit berikut (sandbox mode):

	| Jenis | Visa |
|---|---|
| Nomor Kartu | 4811 1111 1111 1114 |
| CVV | 123 |
| Exp. Month | 01 |
| Exp. Year | 2020 |

	<br />
2. Cek beberapa poin berikut untuk memastikan plugin sudah ter-install dan bekerja dengan baik.

	| Cek Point | Hasil yang diharapkan | Bila hasil tidak sesuai dengan yang diharapkan |
	|---|---|---|
	| Cek order status di back end OpenCart | Order status berubah menjadi **processing** | Cek setting payment notification URL di MAP |
	| Merchant mendapat email notifikasi| Dapat | Jika tidak, cek setting di MAP |
	| Customer mendapat email notifikasi | Dapat | Jika tidak, cek setting di MAP |

</div>
</div>
</div>
</div>