<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
		<%= link_to "/id/snap/integration_php.html" do image_tag("snap/php_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
		<%= link_to "/id/snap/integration_prestashop.html" do image_tag("snap/prestashop.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
		<%= link_to "/id/snap/integration_magento.html" do image_tag("snap/magento_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
		<%= link_to "/id/snap/integration_opencart.html" do image_tag("snap/opencart_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
		<%= link_to "/id/snap/integration_woocommerce.html" do image_tag("snap/woocommerce_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
		<%= link_to "/id/snap/integration_whmcs.html" do image_tag("snap/whmcs_gray.png") end %>
		</div>
	</div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### Tahapan Integrasi Snap Prestashop
<ol>
  <li>Instalasi Plugin</li>
  <li>Tes Transaksi</li>
</ol>
<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#prestashop-step1" data-toggle="tab"><span>Tahap 1</span>Instalasi Plugin</a></li>
  <li><a href="#prestashop-step2" data-toggle="tab"><span>Tahap 2</span>Tes Transaksi</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="prestashop-step1">

#### Apa yang Diperlukan

1. Prestashop v1.6 keatas.
2. PHP minimal v5.4.
3. MySQL minimal v5.0.
4. Plugin Midtrans untuk Prestashop \[ [Github](https://github.com/veritrans/SNAP-Prestashop) \| [Zip](https://github.com/veritrans/SNAP-Prestashop/archive/master.zip) \].

#### Proses Instalasi

1. Ekstrak plugin yang sudah di download, rubah nama folder menjadi **midtranspay**. Setelah itu Zip kembali folder tersebut menjadi midtranspay.zip.
2. Masuk ke halaman administrasi Prestashop Anda, akses menu **Modules and Services - Modules and Services**.
3. Klik **Add a new module** upload file **midtranspay.zip**.
4. Cari modul **Midtrans Pay** yang sebelumnya sudah di upload, klik **install** dan aktifkan modul tersebut.
5. Temukan modul **Midtrans Pay** pada daftar modul yang ada, lalu klik **configure**.

    - Isi **Payment Button Display Title** dengan text yang akan ditampilkan ke pelanggan.
    - Pilih **Environment**, `Sandbox` untuk test transaksi, `Production` untuk transaksi asli.
    - Isi **client key & server key**. Anda dapat menemukan ini di Midtrans MAP Dashboard.
    - **Map payment SUCCESS status to:** pilih status yang Anda ingin tampilkan bila pembayaran sukses.
    - **Map payment FAILURE status to:** pilih status yang Anda ingin tampilkan bila pembayaran gagal.
    - **Map payment PENDING/CHALLENGE status to:** pilih status yang Anda inginkan bila pembayaran terkena status challenge.
    - Konfigurasi lainnya adalah opsional.

    ![Prestashop config](snap/snap-presta1.png){: .img-responsive .img-thumbnail}

6. Login ke portal MAP untuk mengubah beberapa opsi berikut:
	
	| URL Role | Redirect URL|
    |---|---|
    | Payment Notification URL | http://[your-site-url]/index.php?fc=module&module=midtranspay&controller=notification |
    | Finish Redirect URL | http://[your-site-url]/index.php?fc=module&module=midtranspay&controller=success |
    | Error Redirect URL | http://[your-site-url]/index.php?fc=module&module=midtranspay&controller=failure |
    | Pending Redirect URL | http://[your-site-url]/index.php?fc=module&module=midtranspay&controller=back |

<br>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Note: </span>
 <br>Cek [Wiki Snap-Prestashop](https://github.com/veritrans/SNAP-Prestashop/wiki) kami untuk tutorial lainnya.
</div>

</div>

<div class="tab-pane" id="prestashop-step2">
<br />

1. Lakukan transaksi sukses di toko Anda dengan menggunakan nomor kartu kredit dummy berikut (sandbox mode):

	| Jenis | Visa |
	|---|---|
| Nomor Kartu | 4811 1111 1111 1114 |
| CVV | 123 |
| Exp. Month | 01 |
| Exp. Year | 2020 |

	<br />
2. Cek beberapa poin berikut untuk memastikan plugin sudah ter-install dan bekerja dengan baik.

	| Cek Point | Hasil yang diharapkan | Bila hasil tidak sesuai dengan yang diharapkan |
	|---|---|---|
	| Cek order status di back end Prestashop | Order status berubah menjadi **payment accepted** | Cek setting endpoint/payment notification URL di MAP |
	| Merchant mendapatkan email notifikasi| Dapat | Cek setting di MAP menu setting - email notification |
	| Customer mendapat email notifikasi | Dapat | Cek setting di MAP menu setting - email notification |

<br>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Note: </span>
 <br>Cek [Wiki Snap-Prestashop](https://github.com/veritrans/SNAP-Prestashop/wiki) kami untuk tutorial lainnya.
</div>

</div>
</div>
</div>
</div>