<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
    <%= link_to "/id/snap/integration_php.html" do image_tag("snap/php_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
    <%= link_to "/id/snap/integration_prestashop.html" do image_tag("snap/prestashop_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
    <%= link_to "/id/snap/integration_magento.html" do image_tag("snap/magento_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
    <%= link_to "/id/snap/integration_opencart.html" do image_tag("snap/opencart_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
    <%= link_to "/id/snap/integration_woocommerce.html" do image_tag("snap/woocommerce_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Drupal" data-placement="bottom">
    <%= link_to "/id/snap/integration_whmcs.html" do image_tag("snap/whmcs.png") end %>
    </div>
  </div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### Tahapan integrasi Snap WHMCS
<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#whmcs-step1" data-toggle="tab"><span>Step 1</span>Instalasi Plugin</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="whmcs-step1">

#### Apa yang diperlukan

1. WHMCS v5.3.12 - v6.x (sudah dites hingga WHMCS v7.0.2)
2. PHP minimal v5.4.
3. MySQL minimal v5.0.
3. Plugin Midtrans untuk WHMCS \[ [Github](https://github.com/veritrans/SNAP-whmcs) \| [Zip](https://github.com/veritrans/SNAP-whmcs/archive/master.zip) \].

#### proses Instalasi

1. Download dan ekstrak plugin dari repositori ini.
2. Ekstrak file Whmcs-master.zip yang sudah di-download sebelumnya.
3. Upload dan satukan folder modul yang sudah di ekstrak kedalam direktori WHMCS Anda.
4. Masuk ke halaman admin WHMCS Anda.
5. masuk ke menu **Setup -> Payments -> Payment Gateways**.
6. Klik metode pembayaran **Midtrans**, lalu Anda akan dialihkan ke halaman konfigurasi.
7. Isi data-data yang diperlukan, lalu klik **Save Changes**.
<br />
    ![WHMCS Setting](snap/snap-whmcs1.png){: .img-responsive .img-thumbnail}
<br /><br />
8. Login ke portal MAP untuk mengubah isi pada beberapa opsi berikut:

    | URL Role | Redirect URL|
  |---|---|
  | Payment Notification URL | http://[your website url]/modules/gateways/callback/veritrans.php |
  | Finish Redirect URL | http://[your website url] |
  | Error Redirect URL | http://[your website url] |
  | Unfinish Redirect URL | http://[your website url] |

</div>
</div>
</div>
</div>