<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
		<%= link_to "/id/snap/integration_php.html" do image_tag("snap/php_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
		<%= link_to "/id/snap/integration_prestashop.html" do image_tag("snap/prestashop_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
		<%= link_to "/id/snap/integration_magento.html" do image_tag("snap/magento_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
		<%= link_to "/id/snap/integration_opencart.html" do image_tag("snap/opencart_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
		<%= link_to "/id/snap/integration_woocommerce.html" do image_tag("snap/woocommerce.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
		<%= link_to "/id/snap/integration_whmcs.html" do image_tag("snap/whmcs_gray.png") end %>
		</div>
	</div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### Tahapan Integrasi Snap Woocommerce
<ol>
  <li>Instalasi Plugin</li>
  <li>Tes Transaksi</li>
</ol>

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#woo-step1" data-toggle="tab"><span>Tahap 1</span>Instalasi Plugin</a></li>
  <li><a href="#woo-step2" data-toggle="tab"><span>Tahap 2</span>Tes Transaksi</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="woo-step1">

#### Apa yang Diperlukan

1. Wordpress minimal v3.9.1 (sudah di tes hingga v4.5.x).
2. WooCommerce minimal v2.1.11 (sudah di tes hingga v2.5.x).
3. PHP minimal v5.4.
4. MySQL minimal v5.0.
5. Plugin Midtrans untuk WooCommerce \[ [Github](https://github.com/veritrans/SNAP-Woocommerce) \| [Zip](https://github.com/veritrans/SNAP-Woocommerce/archive/master.zip) \].

#### Proses Instalasi

1. Download dan ekstrak plugin dari repositori ini.
2. Ekstrak plugin yang baru di unduh, rubah nama folder modul menjadi **midtrans-woocommerce**.
3. Upload folder plugin ke direktori `wp-content/plugins/` pada instalasi Wordpress Anda.
4. Install dan aktifkan plugin melalui menu plugin pada admin panel Wordpress Anda.
5. Masuk ke menu **WooCommerce - Settings - Checkout - Midtrans**, masukan data-data yang diperlukan.

    - Isi **Title** dengan text yang akan ditampilkan kepada pelanggan.
    - Pilih **Environment**. `Sandbox` untuk test transaksi dan `Production` untuk transaksi asli.
    - Isi **Client and Server key**. Anda dapat menemukan ini di Midtrans MAP Dashboard. 
<br />
    ![WooCommerce Setting](snap/snap-woo1.png){: .img-responsive .img-thumbnail}
<br /><br />

6. Login ke portal MAP untuk mengubah isi pada beberapa opsi berikut:

    | URL Role | Redirect URL|
    |---|---|
    | Payment Notification URL | http://[your web]/?wc-api=WC_Gateway_Midtrans |
    | Finish Redirect URL | http://[your web]/?wc-api=WC_Gateway_Midtrans |
    | Error Redirect URL | http://[your web]/?wc-api=WC_Gateway_Midtrans |
    | Unfinish Redirect URL | http://[your web]/?wc-api=WC_Gateway_Midtrans |

    <br>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Note: </span>
 <br>Cek [Wiki Snap-Woocommerce](https://github.com/veritrans/SNAP-Woocommerce/wiki) kami untuk tutorial lainnya.
</div>
</div>

<div class="tab-pane" id="woo-step2">

<br />
1. Lakukan transaksi sukses di toko Anda dengan menggunakan nomor kartu kredit dummy berikut (sandbox mode):
  
 | Type | Visa |
 |---|---|
 | Card Number | 4811 1111 1111 1114 |
 | CVV | 123 |
 | Exp. Month | 01 |
 | Exp. Year | 2020 |

<br>
2. Cek beberapa poin berikut untuk memastikan plugin sudah ter-install dan bekerja dengan baik.

 | Check Point | Expected Result | When Unexpected Result Occurs|
 |---|---|---|
 | Check order status in WooCommerce back end | Order status recorded in backend | Check endpoint/payment notification URL setting in MAP |
 | Merchant receives email notification | Receive notification | Check MAP menu setting - email notification |
 | Customer receives email notification | Receive notification | Check MAP menu setting - email notification |

  <br>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Note: </span>
 <br>Cek [Wiki Snap-Woocommerce](https://github.com/veritrans/SNAP-Woocommerce/wiki) kami untuk tutorial lainnya.
</div>

</div>
</div>
</div>
</div>