<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
		<%= link_to "/id/snap/integration_php.html" do image_tag("snap/php_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
		<%= link_to "/id/snap/integration_prestashop.html" do image_tag("snap/prestashop_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
		<%= link_to "/id/snap/integration_magento.html" do image_tag("snap/magento.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
		<%= link_to "/id/snap/integration_opencart.html" do image_tag("snap/opencart_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
		<%= link_to "/id/snap/integration_woocommerce.html" do image_tag("snap/woocommerce_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
		<%= link_to "/id/snap/integration_whmcs.html" do image_tag("snap/whmcs_gray.png") end %>
		</div>
	</div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### Tahapan Integrasi Snap Magento
<ol>
  <li>Instalasi Plugin</li>
  <li>Tes Transaksi</li>
</ol>
<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#magento-step1" data-toggle="tab">Instalasi Plugin</a></li>
  <li><a href="#magento-step2" data-toggle="tab">Tes Transaksi</a></li>
<!--  <li><a href="#magento-step3" data-toggle="tab">Cicilan</a></li> -->
</ul>

<div class="tab-content">
<div class="tab-pane active" id="magento-step1">

#### Apa yang Diperlukan

1. Sebuah toko online berbasis Magento. Plugin ini di-test dengan Magento v1.9
2. PHP minimal v5.4.
3. MySQL minimal v5.0.
3. Plugin Midtrans untuk Magento \[ [Github](https://github.com/veritrans/SNAP-Magento) \| [Zip](https://github.com/veritrans/SNAP-Magento/archive/master.zip) \].

#### Proses Instalasi

1. Download dan ekstrak plugin dari repositori ini.
2. Masuk ke direktori Magento Anda melalui koneksi FTP.
3. Upload/copy folder `app`, `lib` dan `skin` yang baru diekstrak ke dalam direktori Magento Anda.
4. Buka menu **System - Configuration** pada halaman administrasi Magento.
5. Pada menu **Sales-Payment Methods**, masukan data-data yang diperlukan.

    - Isi **Title** dengan text yang akan ditampilkan kepada pelanggan.
    - Pilih **Environment**. `Sandbox` untuk test transaksi dan `Production` untuk transaksi asli.
    - Isi **Client and Server key**. Anda dapat menemukan ini di Midtrans MAP Dashboard.
  <br />
    ![Magento Config](snap/snap-mag1.png){: .img-responsive .img-thumbnail}
<br /><br />
6. Login ke portal MAP untuk mengubah isi pada beberapa opsi berikut:
  
    | URL Role | Redirect URL|
    |---|---|
    | Payment Notification URL | http://[your web]/snap/payment/notification |
    | Finish Redirect URL | http://[your web]/snap/payment/response |
    | Error Redirect URL | http://[your web]/snap/payment/response |
    | Unfinish Redirect URL | http://[your web]/snap/payment/response |

    <br>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Note: </span>
 <br>Cek [Wiki Snap-Magento](https://github.com/veritrans/SNAP-Magento/wiki) kami untuk tutorial lainnya.
</div>
</div>

<div class="tab-pane" id="magento-step2">
<br />

1. Lakukan transaksi sukses di toko Anda dengan menggunakan nomor kartu kredit dummy berikut (sandbox mode):

	| Jenis | Visa |
	|---|---|
| Nomor Kartu | 4811 1111 1111 1114 |
| CVV | 123 |
| Exp. Month | 01 |
| Exp. Year | 2020 |

	<br />
2. Cek beberapa poin berikut untuk memastikan plugin sudah ter-install dan bekerja dengan baik.

	| Cek Point | Hasil yang diharapkan | Bila hasil tidak sesuai dengan yang diharapkan |
	|---|---|---|
	| Cek order status di back end Magento | Order status berubah menjadi **processing** | Cek setting endpoint/payment notification URL di MAP |
	| Merchant mendapatkan email notifikasi| Dapat | Cek setting di MAP menu setting - email notification |
	| Customer mendapat email notifikasi | Dapat | Cek setting di MAP menu setting - email notification |

	<br>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Note: </span>
 <br>Cek [Wiki Snap-Magento](https://github.com/veritrans/SNAP-Magento/wiki) kami untuk tutorial lainnya.
</div>

</div>
</div>
</div>
</div>