<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
		<%= link_to "/id/snap/integration_php.html" do image_tag("snap/php_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
		<%= link_to "/id/snap/integration_prestashop.html" do image_tag("snap/prestashop_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="OpenCart" data-placement="bottom">
		<%= link_to "/id/snap/integration_magento.html" do image_tag("snap/magento_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
		<%= link_to "/id/snap/integration_opencart.html" do image_tag("snap/opencart.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
		<%= link_to "/id/snap/integration_woocommerce.html" do image_tag("snap/woocommerce_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
		<%= link_to "/id/snap/integration_whmcs.html" do image_tag("snap/whmcs_gray.png") end %>
		</div>
	</div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### Tahapan Integrasi Snap OpenCart
<ol>
  <li>Instalasi Plugin</li>
  <li>Tes Transaksi</li>
</ol>

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#opencart-step1" data-toggle="tab"><span>Tahap 1</span>Instalasi Plugin</a></li>
  <li><a href="#opencart-step2" data-toggle="tab"><span>Tahap 2</span>Tes Transaksi</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="opencart-step1">

#### Apa yang Diperlukan

1. Sebuah toko online berbasis OpenCart. Plugin ini di-test dengan OpenCart v2.0, v2.1, dan v2.2.
2. PHP minimal v5.4.
3. MySQL minimal v5.0.
3. Plugin Midtrans untuk OpenCart \[ [Github](https://github.com/veritrans/SNAP-Opencart) \| [Zip](https://github.com/veritrans/SNAP-Opencart/archive/master.zip) \].

#### Proses Instalasi

1. Download dan ekstrak plugin dari repositori ini.
2. Masuk ke direktori Opencart Anda melalui koneksi FTP.
3. Upload/copy folder `admin`, `catalog` dan `system` yang baru diekstrak ke dalam direktori OpenCart Anda.
4. Buka menu **Extension - Payments** pada halaman administrasi OpenCart.
5. Cari dan install modul Midtrans untuk mengaktifkan plugin.
6. Pada Midtrans modul, klik **Edit** untuk masuk ke halaman plugin, lalu masukan data-data yang diperlukan.

    - Isi **Title** dengan text yang akan ditampilkan kepada pelanggan.
    - Pilih **Environment**. `Sandbox` untuk test transaksi dan `Production` untuk transaksi asli.
    - Isi **Client and Server key**. Anda dapat menemukan ini di Midtrans MAP Dashboard.
  <br />
    ![OpenCart Config](snap/snap-open1.png){: .img-responsive .img-thumbnail}
<br /><br />
7. Login ke portal MAP untuk mengubah isi pada beberapa opsi berikut:
  
      | URL Role | Redirect URL|
  |---|---|
  | Payment Notification URL | http://[your-site-url]/index.php?route=payment/snap/payment_notification |
  | Finish Redirect URL | http://[your-site-url]/index.php?route=payment/snap/landing_redir& |
  | Error Redirect URL | http://[your-site-url]/index.php?route=payment/snap/landing_redir& |
  | Unfinish Redirect URL | http://[your-site-url]/index.php?route=payment/snap/landing_redir& |

    <br>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Note: </span>
 <br>Cek [Wiki Snap-OpenCart](https://github.com/veritrans/SNAP-OpenCart/wiki) kami untuk tutorial lainnya.
</div>
</div>

<div class="tab-pane" id="opencart-step2">
<br />

1. Lakukan transaksi sukses di toko Anda dengan menggunakan nomor kartu kredit dummy berikut (sandbox mode):

	| Jenis | Visa |
	|---|---|
| Nomor Kartu | 4811 1111 1111 1114 |
| CVV | 123 |
| Exp. Month | 01 |
| Exp. Year | 2020 |

	<br />
2. Cek beberapa poin berikut untuk memastikan plugin sudah ter-install dan bekerja dengan baik.

	| Cek Point | Hasil yang diharapkan | Bila hasil tidak sesuai dengan yang diharapkan |
	|---|---|---|
	| Cek order status di back end OpenCart | Order status berubah menjadi **processing** | Cek setting endpoint/payment notification URL di MAP |
	| Merchant mendapatkan email notifikasi| Dapat | Cek setting di MAP menu setting - email notification |
	| Customer mendapat email notifikasi | Dapat | Cek setting di MAP menu setting - email notification |

	<br>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Note: </span>
 <br>Cek [Wiki Snap-OpenCart](https://github.com/veritrans/SNAP-OpenCart/wiki) kami untuk tutorial lainnya.
</div>

</div>
</div>
</div>
</div>