## SNAP Integration
---

##### *The tutorial below will assist you in integrating Snap. Please choose your desired integration method. If further assistance is required, please contact us at [support@midtrans.com](mailto:support@midtrans.com "email support") or visit our [support page](http://support.midtrans.com "Midtrans Support").*
---
<br />

<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
      <%= link_to "/en/snap/integration_php.html" do image_tag("snap/php.jpg") end %>    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
      <%= link_to "/en/snap/integration_prestashop.html" do image_tag("snap/prestashop.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
      <%= link_to "/en/snap/integration_magento.html" do image_tag("snap/magento.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
      <%= link_to "/en/snap/integration_opencart.html" do image_tag("snap/opencart.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
      <%= link_to "/en/snap/integration_woocommerce.html" do image_tag("snap/woocommerce.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
    <%= link_to "/en/snap/integration_whmcs.html" do image_tag("snap/whmcs.png") end %>
    </div>
  </div>
</div>
<br />

{::options parse_block_html="true" /}

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> Note</span>
  <span class="sr-only">Info:</span><br>
- Please complete the steps in [Preparation](/en/welcome/preparation.html) before starting technical integration.<br>
- If you are using a different programming language or framework, please visit our [API documentation](https://api-docs.midtrans.com/) page to start the integration process.
</div>
