<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
      <%= link_to "/en/snap/integration_php.html" do image_tag("snap/php_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
      <%= link_to "/en/snap/integration_prestashop.html" do image_tag("snap/prestashop_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
     <%= link_to "/en/snap/integration_magento.html" do image_tag("snap/magento_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
      <%= link_to "/en/snap/integration_opencart.html" do image_tag("snap/opencart_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
      <%= link_to "/en/snap/integration_woocommerce.html" do image_tag("snap/woocommerce.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
    <%= link_to "/en/snap/integration_whmcs.html" do image_tag("snap/whmcs_gray.png") end %>
    </div>
  </div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### Snap WooCommerce Integration Steps
<ol>
  <li>Plugin Installation</li>
  <li>Transaction Test</li>
</ol>

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#woo-step1" data-toggle="tab"><span>Step 1</span>Plugin Installation</a></li>
  <li><a href="#woo-step2" data-toggle="tab"><span>Step 2</span>Transaction Test</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="woo-step1">

#### Requirements

1. Wordpress v3.9.1 or greater (tested up to v4.5.x)
2. WooCommerce v2.1.11 or greater (tested up to v2.5.x)
3. PHP v5.4 or greater
4. MySQL v5.0 or greater
5. Midtrans plugin for WooCommerce \[ [Github](https://github.com/veritrans/SNAP-Woocommerce) \| [Zip](https://github.com/veritrans/SNAP-Woocommerce/archive/master.zip) \].

#### Installation Process

1. Download the plugin from this repository.
2. Extract the plugin, then rename the modules folder as **midtrans-woocommerce**.
3. Upload the unzipped plugin folder to your WordPress installation's `wp-content/plugins/` directory.
4. Install and activate the plugin from plugins menu within the WordPress admin panel
5. Go to **WooCommerce - Settings - Checkout - Midtrans** menu, fill the configuration fields.

    - Fill **Title** with text button that you want to display to customer
    - Select **Environment**. `Sandbox` is for testing transaction and `Production` is for real transaction
    - Fill **Client and Server key**. You can find this credential on Midtrans MAP Dashboard.
<br />
    ![WooCommerce Setting](snap/snap-woo1.png){: .img-responsive .img-thumbnail}
<br /><br />

6. Login to MAP portal to configure a few options below:

    | URL Role | Redirect URL|
    |---|---|
    | Payment Notification URL | http://[your web]/?wc-api=WC_Gateway_Midtrans |
    | Finish Redirect URL | http://[your web]/?wc-api=WC_Gateway_Midtrans |
    | Error Redirect URL | http://[your web]/?wc-api=WC_Gateway_Midtrans |
    | Unfinish Redirect URL | http://[your web]/?wc-api=WC_Gateway_Midtrans |

    <br>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Note: </span>
 <br>Please check our [Snap-Woocommerce Repo Wiki](https://github.com/veritrans/SNAP-Woocommerce/wiki) for another tutorial.
</div>
</div>

<div class="tab-pane" id="woo-step2">

<br />
1. Perform successful transaction in your online store by inputing a dummy credit card number as followed (Sandbox Mode):
  
  | Type | Visa |
  |---|---|
  | Card Number | 4811 1111 1111 1114 |
  | CVV | 123 |
  | Exp. Month | 01 |
  | Exp. Year | 2020 |

<br>
2. Examine a few points below to ensure plugin is installed and performs properly.

  | Check Point | Expected Result | When Unexpected Result Occurs|
  |---|---|---|
  | Check order status in WooCommerce back end | Order status recorded in backend | Check endpoint/payment notification URL setting in MAP |
  | Merchant receives email notification | Receive notification | Check MAP menu setting - email notification |
  | Customer receives email notification | Receive notification | Check MAP menu setting - email notification |

  <br>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Note: </span>
 <br>Please check our [Snap-Woocommerce Repo Wiki](https://github.com/veritrans/SNAP-Woocommerce/wiki) for another tutorial.
</div>

</div>
</div>
</div>
</div>