<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
    <%= link_to "/en/snap/integration_php.html" do image_tag("snap/php_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
    <%= link_to "/en/snap/integration_prestashop.html" do image_tag("snap/prestashop_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
    <%= link_to "/en/snap/integration_magento.html" do image_tag("snap/magento_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
    <%= link_to "/en/snap/integration_opencart.html" do image_tag("snap/opencart.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
    <%= link_to "/en/snap/integration_woocommerce.html" do image_tag("snap/woocommerce_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
    <%= link_to "/en/snap/integration_whmcs.html" do image_tag("snap/whmcs_gray.png") end %>
    </div>
  </div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### Snap OpenCart Integration Steps
<ol>
  <li>Plugin Installation</li>
  <li>Transaction Test</li>
</ol>

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#opencart-step1" data-toggle="tab"><span>Step 1</span>Plugin Installation</a></li>
  <li><a href="#opencart-step2" data-toggle="tab"><span>Step 2</span>Transaction Test</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="opencart-step1">

#### Requirements

1. An online store with OpenCart infrastructure. This plugin is tested with OpenCart v2.0, v2.1, and v2.2.
2. PHP v5.4 or greater.
3. MySQL v5.0 or greater.
4. Midtrans plugin for OpenCart \[ [Github](https://github.com/veritrans/SNAP-Opencart) \| [Zip](https://github.com/veritrans/SNAP-Opencart/archive/master.zip) \].

#### Installation Process

1. Download and extract the plugin from this repository.
2. Locate the root OpenCart directory of your shop via FTP connection.
3. Copy the **admin, catalog** and **system** folders to your OpenCart's root folder, and merge it.
4. Go to **Extension - Payments** menu in OpenCart admin page.
5. Find and install Midtrans module to activate plugin.
6. In Midtrans module, click **Edit** to enter plugin page.

    - Fill **Title** with text button that you want to display to customer.
    - Select **Environment**. `Sandbox` is for testing transaction and `Production` is for real transaction. 
    - Fill **Client and Server key**. You can find this credential on Midtrans MAP Dashboard.
<br />
  ![OpenCart Setting](snap/snap-open1.png){: .img-responsive .img-thumbnail}
<br /><br />

7. Login to MAP portal to configure a few options below:

    | URL Role | Redirect URL|
  |---|---|
  | Payment Notification URL | http://[your-site-url]/index.php?route=payment/snap/payment_notification |
  | Finish Redirect URL | http://[your-site-url]/index.php?route=payment/snap/landing_redir& |
  | Error Redirect URL | http://[your-site-url]/index.php?route=payment/snap/landing_redir& |
  | Unfinish Redirect URL | http://[your-site-url]/index.php?route=payment/snap/landing_redir& |

  <br>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Note: </span>
 <br>Please check our [Snap-Opencart Repo Wiki](https://github.com/veritrans/SNAP-Opencart/wiki) for another tutorial.
</div>
</div>

<div class="tab-pane" id="opencart-step2">
<br />

1. Perform successful transaction in your online store by inputing a dummy credit card number as followed (Sandbox Mode):

    | Type | Visa |
    |---|---|
  | Card Number | 4811 1111 1111 1114 |
  | CVV | 123 |
  | Exp. Month | 01 |
  | Exp. Year | 2020 |

    <br>
2. Examine a few points below to ensure plugin is installed and performs properly.

    | Check Point | Expected Result | When Unexpected Result Occurs|
    |---|---|---|
  | Check order status in OpenCart back end | Order status turns into **processing** | Check endpoint/payment notification URL setting in MAP |
  | Merchant receives email notification | Receive notification | Check MAP menu setting - email notification |
  | Customer receives email notification | Receive notification | Check MAP menu setting - email notification |

  <br>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Note:</span>
  <span class="sr-only">Note: </span>
 <br>Please check our [Snap-Opencart Repo Wiki](https://github.com/veritrans/SNAP-Opencart/wiki) for another tutorial.
</div>

</div>
</div>
</div>
</div>