## Integration
---

##### *The tutorial below will assist you in integrating VT-Web. Please choose your desired integration method. If further assistance is required, please contact us at [support@midtrans.com](mailto:support@midtrans.com "email support") or visit our [support page](http://support.midtrans.com "Midtrans Support").*
---
<br />

<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_php.html" do image_tag("/images/php.jpg") end %>    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_prestashop.html" do image_tag("/images/prestashop.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_magento.html" do image_tag("/images/magento.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_opencart.html" do image_tag("/images/opencart.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_woocommerce.html" do image_tag("/images/woocommerce.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Drupal" data-placement="bottom">
    <%= link_to "/id/vtweb/integration_drupal.html" do image_tag("/images/drupal.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_whmcs.html" do image_tag("/images/whmcs.png") end %>
    </div>
  </div>
</div>
<br />

{::options parse_block_html="true" /}

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Note**:<br> 
- Please complete the steps in [Preparation](/en/welcome/preparation.html) before starting technical integration.<br>
- If you are using a different programming language or framework, please visit our [API documentation](/en/api/introduction.html) page to start the integration process.
</div>
