<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
		<%= link_to "/en/vtweb/integration_php.html" do image_tag("/images/php_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
		<%= link_to "/en/vtweb/integration_prestashop.html" do image_tag("/images/prestashop_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
		<%= link_to "/en/vtweb/integration_magento.html" do image_tag("/images/magento_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
		<%= link_to "/en/vtweb/integration_opencart.html" do image_tag("/images/opencart_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
		<%= link_to "/en/vtweb/integration_woocommerce.html" do image_tag("/images/woocommerce_gray.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="thumbnail" data-toggle="tooltip" title="Drupal" data-placement="bottom">
		<%= link_to "/en/vtweb/integration_drupal.html" do image_tag("/images/drupal.jpg") end %>
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_whmcs.html" do image_tag("/images/whmcs_gray.png") end %>
    </div>
  </div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### VT-Web Drupal Integration Steps
<ol>
  <li>Plugin Installation</li>
  <li>Transaction Test</li>
</ol>
<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#Drupal-step1" data-toggle="tab"><span>Step 1</span>Plugin Installation</a></li>
  <li><a href="#Drupal-step2" data-toggle="tab"><span>Step 2</span>Transaction Test</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="Drupal-step1">

#### Requirements

1. An online store with Drupal infrastructure. (This plugin is tested with Drupal version 7)
2. PHP minimum version 5.4.
3. Midtrans plugin for Drupal \[ [Github](https://github.com/veritrans/vtweb-drupalcommerce) \| [Zip](https://github.com/veritrans/vtweb-drupalcommerce/archive/master.zip) \].

#### Installation Process

1. Extract the plugin you have previously downloaded and rename folder as **commerce_veritrans**.
2. Upload the unzipped plugin folder to your Drupal modules installation's directory ([Drupal folder]/sites/all/modules/).

#### Plugin Configuration

In order to configure Midtrans-Drupal plug-in:

1. Access your Drupal admin page.
2. Go to **Modules**. Check Commerce Veritrans and Veritrans Web modules under COMMERCE (PAYMENT) group.
3. Activate both modules.
<br />
	![Drupal Setting](/images/drupal00.png){: .img-responsive .img-thumbnail}
<br /><br />
4. Scroll down and click **Save Configuration**.
5. Go to **Store - Configure Store - Configuration - Payment Methods**.
6. Search and Click **Veritrans VT-Web**.
<br />
	![Drupal Setting](/images/drupal01.png){: .img-responsive .img-thumbnail}
<br /><br />
7. Click **Settings**, tick **active**, then click save changes.
<br />
	![Drupal Setting](/images/drupal02.png){: .img-responsive .img-thumbnail}
<br /><br />
8. Click **Enable payment method: Veritrans VT-Web** under Actions tab.
9. Fill the following config fields as instructed on each settings description.
<br />
	![Drupal Setting](/images/drupal03.png){: .img-responsive .img-thumbnail}
<br /><br />
10. Login to MAP portal to configure a few options below:

    | URL Role | Redirect URL|
  |---|---|
  | Payment Notification URL | http://[your web]/commerce_veritrans/ipn |
  | Finish Redirect URL | http://[your web]|
  | Error Redirect URL | http://[your web] |
  | Unfinish Redirect URL | http://[your web] |

</div>

<div class="tab-pane" id="Drupal-step2">

1. Perform successful transaction in your online store by inputing a dummy credit card number as followed (Sandbox Mode):

    | Type | Visa |
    |---|---|
  | Card Number | 4811 1111 1111 1114 |
  | CVV | 123 |
  | Exp. Month | 01 |
  | Exp. Year | 2020 |

<br />
2. Examine a few points below to ensure plugin is installed and performs properly.

| Check Point | Expected Result | When Unexpected Result Occurs|
|---|---|---|
| Check order status in Drupal back end | Order status change | Check endpoint/payment notification URL setting in MAP |
| Merchant receives email notification | Receive notification | Check MAP menu setting - email notification |
| Customer receives email notification | Receive notification | Check MAP menu setting - email notification |

</div>
</div>
</div>
</div>