<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_php.html" do image_tag("/images/php_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_prestashop.html" do image_tag("/images/prestashop_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_magento.html" do image_tag("/images/magento_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_opencart.html" do image_tag("/images/opencart.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_woocommerce.html" do image_tag("/images/woocommerce_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Drupal" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_drupal.html" do image_tag("/images/drupal_grey.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_whmcs.html" do image_tag("/images/whmcs_gray.png") end %>
    </div>
  </div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### VT-Web OpenCart Integration Steps
<ol>
  <li>Plugin Installation</li>
  <li>Transaction Test</li>
</ol>

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#opencart-step1" data-toggle="tab"><span>Step 1</span>Plugin Installation</a></li>
  <li><a href="#opencart-step2" data-toggle="tab"><span>Step 2</span>Transaction Test</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="opencart-step1">

#### Requirements

1. An online store with OpenCart infrastructure. This plugin is tested with OpenCart version 1.5.6.4.
2. PHP minimum version 5.4.
3. Midtrans plugin for OpenCart \[ [Github](https://github.com/veritrans/vtweb-opencart) \| [Zip](https://github.com/veritrans/vtweb-opencart/archive/master.zip) \].

<br />

#### Installation Process

1. Extract vtweb-opencart-master.zip file you have previously downloaded.
2. Upload **admin**, **catalog**, and **system** folder you extracted into your OpenCart directory.
<br />

#### Plugin Configuration

In order to configure Midtrans-OpenCart plug-in:

1. Access your OpenCart admin page.
2. Go to **Extension - Payments** menu in OpenCart admin page.
3. Find and install Veritrans module to activate plugin.
4. In Veritrans module, click **Edit** to enter plugin page.
5. Insert required fields following the figure below.
<br /><br />
  ![OpenCart Setting](/images/opencart00.png){: .img-responsive .img-thumbnail}
<br /><br />
6. Click **Save** to save configuration.

7. Login to MAP portal to configure a few options below:

    | URL Role | Redirect URL|
  |---|---|
  | Payment Notification URL | http://[your shop’s homepage]/index.php?route=payment/veritrans/payment_notification |
  | Finish Redirect URL | http://[your shop’s homepage]/index.php?route=payment/veritrans/landing_redir& |
  | Error Redirect URL | http://[your shop’s homepage]/index.php?route=payment/veritrans/landing_redir& |
  | Unfinish Redirect URL | http://[your shop’s homepage]/index.php?route=payment/veritrans/landing_redir& |

</div>

<div class="tab-pane" id="opencart-step2">
<br />

1. Perform a successful transaction in your online store by inputing a dummy credit card number as followed (Sandbox Mode):

  | Type | Visa |
  |---|---|
  | Card Number | 4811 1111 1111 1114 |
  | CVV | 123 |
  | Exp. Month | 01 |
  | Exp. Year | 2020 |

  <br />
2. Examine a few points below to ensure plugin is installed and performs properly.

  | Check Point | Expected Result | When Unexpected Result Occurs |
  |---|---|---|
  | Check order status in OpenCart back end | Order status turns into **processing** | Check setting payment notification URL in MAP |
  | Merchant receives email notification | Receive notification | Check MAP menu setting - email Notification |
  | Customer receives email notification | Receive notification | Check MAP menu setting - email notification |

</div>
</div>
</div>
</div>