<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_php.html" do image_tag("/images/php_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_prestashop.html" do image_tag("/images/prestashop_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
     <%= link_to "/en/vtweb/integration_magento.html" do image_tag("/images/magento_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_opencart.html" do image_tag("/images/opencart_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_woocommerce.html" do image_tag("/images/woocommerce.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Drupal" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_drupal.html" do image_tag("/images/drupal_grey.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_whmcs.html" do image_tag("/images/whmcs_gray.png") end %>
    </div>
  </div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### VT-Web WooCommerce Integration Steps
<ol>
  <li>Plugin Installation</li>
  <li>Transaction Test</li>
</ol>

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#woo-step1" data-toggle="tab"><span>Step 1</span>Plugin Installation</a></li>
  <li><a href="#woo-step2" data-toggle="tab"><span>Step 2</span>Transaction Test</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="woo-step1">

#### Requirements

1. An online store with WordPress and WooCommerce infrastructure. This plugin need minimum requirement WordPress Version 3.9.1 and WooCommerce Version 2.1.11.
2. Plugin already test with Wordpress v4.5 and Woocommerce v2.5
3. PHP minimum version 5.4.
4. Midtrans plugin for WooCommerce \[ [Github](https://github.com/veritrans/veritrans-woocommerce) \| [Zip](https://github.com/veritrans/veritrans-woocommerce/archive/master.zip) \].

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Note**:<br> 
Refer to [Library & Plugin](/en/welcome/pluginlibrary.html) page for more information about Wordpress with Easy Digital Download plugin.
</div>

<br />

#### Installation Process

1. Extract .zip file that you have previously downloaded.
2. Upload the .zip extraction folder into WordPress installation directory `wp-content/plugins/`
3. Activate Midtrans plugin from Plugin menu in your WordPress admin page.
<br />

#### Plugin Configuration

In order to configure Midtrans-WooCommerce plug-in:

1. Access your WordPress admin page.
2. Go to **WooCommerce - Settings - Checkout** menu in the WordPress admin page.
3. In Payment Gateway option, pick Veritrans then click **settings**.
4. Insert required fields following the figure below.
<br /><br />
    ![WooCommerce Setting](/images/woocomm00.png){: .img-responsive .img-thumbnail}
<br /><br />

5. Login to MAP portal to configure a few options below:

    | URL Role | Redirect URL|
    |---|---|
    | Payment Notification URL | http://[your web]/?wc-api=WC_Gateway_Veritrans |
    | Finish Redirect URL | http://[your web]/?wc-api=WC_Gateway_Veritrans |
    | Error Redirect URL | http://[your web]/?wc-api=WC_Gateway_Veritrans |
    | Unfinish Redirect URL | http://[your web]/?wc-api=WC_Gateway_Veritrans |

</div>

<div class="tab-pane" id="woo-step2">

<br />
1. Perform a successful transaction in your online store by inputing a dummy credit card number as followed (Sandbox Mode):

| Type | Visa |
|---|---|
| Card Number | 4811 1111 1111 1114 |
| CVV | 123 |
| Exp. Month | 01 |
| Exp. Year | 2020 |

  <br />
2. Examine a few points below to ensure plugin is installed and performs properly.

| Check Point | Expected Result | When Unexpected Result Occurs|
|---|---|---|
| Check order status in WooCommerce back end | Order status recorded in backend | Check endpoint/payment notification URL setting in MAP |
| Merchant receives email notification | Receive notification | Check MAP menu setting - email notification |
| Customer receives email notification | Receive notification | Check MAP menu setting - email notification |

</div>
</div>
</div>
</div>