<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_php.html" do image_tag("/images/php.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_prestashop.html" do image_tag("/images/prestashop_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_magento.html" do image_tag("/images/magento_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_opencart.html" do image_tag("/images/opencart_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
      <%= link_to "/en/vtweb/integration_woocommerce.html" do image_tag("/images/woocommerce_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Drupal" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_drupal.html" do image_tag("/images/drupal_grey.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="WHMCS" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_whmcs.html" do image_tag("/images/whmcs_gray.png") end %>
    </div>
  </div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
<div class="tab-pane active">   <!-- Beginning of header-->

### VT-Web PHP Integration Steps

<ol>
  <li>Obtain VT-Web URL</li>
  <li>Transaction Test</li>
  <li>Transaction Status</li>
   <li>Handling HTTP Notification</li>
</ol>

<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#step1" data-toggle="tab"><span>Step 1</span>Obtain VT-Web URL</a></li>
  <li><a href="#step2" data-toggle="tab"><span>Step 2</span>Transaction Test</a></li>
  <li><a href="#step3" data-toggle="tab"><span>Step 3</span>Transaction Status</a></li>
  <li><a href="#step4" data-toggle="tab"><span>Step 4</span>Handling Notification</a></li>
</ul>

<div class="tab-content"> <!-- Beginning of STEPS Tab Content-->

<div class="tab-pane active" id="step1"><!-- step 1-->
<!-- One -->

## Obtaining Redirect URL ##

On this step, we will try to obtain the VT-Web payment page when performing a transaction.<br> There is at least 3 components that are required to obtain VT-Web payment page:

1. `server key`
2. Transaction ID
3. Transaction Total Nominal

<br>
The example below shows a sample PHP Code for an order with a random Transaction ID with a total nominal of Rp. 10.000,00.

~~~ php
<?php
include_once('Veritrans.php');

// Set our server key
Veritrans_Config::$serverKey = '<your server key>';

// Uncomment for production environment
// Veritrans_Config::$isProduction = true;

// Comment to disable sanitization
Veritrans_Config::$isSanitized = true;

// Comment to disable 3D-Secure
Veritrans_Config::$is3ds = true;

// Fill transaction data
$transaction = array(
    'transaction_details' => array(
        'order_id' => rand(),
        'gross_amount' => 10000, // no decimal allowed for creditcard
        )
    );

$vtweb_url = Veritrans_Vtweb::getRedirectionUrl($transaction);

// Redirect
header('Location: ' . $vtweb_url);
?>
~~~
<br />
The sample code above utilizes the **Veritrans-PHP** library that can been downloaded at [ [Github](https://github.com/veritrans/veritrans-php) | [Zip](https://github.com/veritrans/veritrans-php/archive/master.zip) ] and using sandbox/test environment.

`Veritrans.php` file is assumed to be located in the same directory with the source code. `server_key` value been explained on [Getting Started - Preparation](/en/welcome/preparation.html#step3)

By default, all available payment methods will be displayed in VT-Web page.<br>To enable only specifics payment methods, follow the steps in [VT-Web - Other Features](/en/vtweb/other_features.html).

VT-Web page can be obtained by calling `Veritrans_Vtweb::getRedirectionUrl`, in which the transaction data is the input. When this process is successful, customer will be redirected to the respective URL.
<br><br>
The following is the VT-Web display page for the code above:
<br />
![VT-Web Simple](/images/vtweb_simple.png){: .img-responsive .img-thumbnail}
<br /><br />

* * *

## Adding Transaction Information (Optional)

Merchant can add more information in the variable `$transaction`, i.e. customer data, order item data, and method of payment. This add on data will affect the VT-Web payment page and transaction logged on the MAP (Merchant Administration Portal).

Most fields on VT-Web page will be filled automatically and information related to order item and delivery address will be displayed.<br>Details and complete VT-Web transaction data structure and attributes can be found in [Midtrans API reference](https://api-docs.midtrans.com).

<br>
PHP sample code that includes all transaction data is shown as follow:<br />

~~~ php
<?php
include_once('Veritrans.php');
//Set Your server key
Veritrans_Config::$serverKey = "<your server key>";

// Uncomment for production environment
// Veritrans_Config::$isProduction = true;

// Comment to disable sanitization
Veritrans_Config::$isSanitized = true;

// Comment to disable 3D-Secure
Veritrans_Config::$is3ds = true;

// Required
$transaction_details = array(
  'order_id' => rand(),
  'gross_amount' => 145000, // no decimal allowed for creditcard
  );


// Optional, mandatory for mandiri bill payment
$item1_details = array(
    'id' => 'a1',
    'price' => 50000,
    'quantity' => 2,
    'name' => "Apple"
    );

// Optional
$item2_details = array(
    'id' => 'a2',
    'price' => 45000,
    'quantity' => 1,
    'name' => "Orange"
    );

// Optional, mandatory for mandiri bill payment
$item_details = array ($item1_details, $item2_details);

// Optional
$billing_address = array(
    'first_name'    => "Andri",
    'last_name'     => "Litani",
    'address'       => "Mangga 20",
    'city'          => "Jakarta",
    'postal_code'   => "16602",
    'phone'         => "081122334455",
    'country_code'  => 'IDN'
    );

// Optional
$shipping_address = array(
    'first_name'    => "Obet",
    'last_name'     => "Supriadi",
    'address'       => "Manggis 90",
    'city'          => "Jakarta",
    'postal_code'   => "16601",
    'phone'         => "08113366345",
    'country_code'  => 'IDN'
    );

$customer_details = array(
    'first_name'    => "Andri", //optional
    'last_name'     => "Litani", //optional
    'email'         => "andri@litani.com", //mandatory
    'phone'         => "081122334455", //mandatory
    'billing_address'  => $billing_address, //optional
    'shipping_address' => $shipping_address //optional
    );

// Fill transaction details
$transaction = array(
    'transaction_details' => $transaction_details,
    'customer_details' => $customer_details,
    'item_details' => $item_details,
    );

$vtweb_url = Veritrans_Vtweb::getRedirectionUrl($transaction);

// Go to VT-Web page
header('Location: ' . $vtweb_url);
?>
~~~
<br />
The following figure displays the VT-Web payment page as a result of the code above.<br> Do note that the fields on the **Shopping Details** is automatically filled.<br> Information related to **Purchased Product** and **Shipping Details** is also displayed on the VT-Web page.<br />

![VT-Web Complete](/images/vtweb_complete.png){: .img-responsive .img-thumbnail}
<br /><br />

* * *

## Error On VT-Web URL Request

Under a few conditions, VT-Web payment URL request can be unsuccessful. The reason of the failure can be inspected from the status code. The status code that generally occurs is:<br />

|Error Code|Explanation|
|----------|----------|
|`400` Validation error|Format or content of the transaction data is invalid. Example: Wrong variable type, invalid method of payment.|
|`401` Access Denied |Invalid client or server key.|
|`402` Access Denied|Merchant is not authorised to utilise a certain method of payment.|
|`406` Duplicate Order ID|Order ID has been previously created and make use of.|
|`410` Account Inactive|Merchant account has been inactive for a long time.|

<br />
The list of status codes can be found [here](https://api-docs.midtrans.com/#status-code).


</div><!-- end of step 1-->

<div class="tab-pane" id="step2"><!-- step 2-->

<!-- Two -->

## Transaction Test

On this step, we will try to perform a test transaction in VT-Web.<br> Please use our dummy [transaction credentials](/en/api/test_credentials.html) for testing purposes.

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  <span class="sr-only">Warning:</span>
<strong>Note:</strong>

Using real credentials will result in error payments in Sandbox Environment
</div>

<br>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#testcc" data-toggle="tab-code" data-lang="cc">Credit Card</a></li>
  <li><a href="#virtualacc" data-toggle="tab-code" data-lang="permata">Virtual Account</a></li>
  <li><a href="#testmandiri" data-toggle="tab-code" data-lang="mandiri">Mandiri ClickPay</a></li>
  <li><a href="#testcimb" data-toggle="tab-code" data-lang="cimb">CIMB Clicks</a></li>
  <li><a href="#bripay" data-toggle="tab-code" data-lang="bri">ePay BRI</a></li>
  <li><a href="#tcash" data-toggle="tab-code" data-lang="telkomsel">Telkomsel Cash</a></li>
  <li><a href="#xltunai" data-toggle="tab-code" data-lang="xl">XL Tunai</a></li>
  <li><a href="#mbill" data-toggle="tab-code" data-lang="mandiribill">Mandiri Bill Payment</a></li>
  <li><a href="#indomrt" data-toggle="tab-code" data-lang="indomaret">Indomaret</a></li>
  <li><a href="#dompetku" data-toggle="tab-code" data-lang="dompetku">Indosat Dompetku</a></li>
  <li><a href="#mandiriecash" data-toggle="tab-code" data-lang="mandiriecash">Mandiri E-cash</a></li>
</ul>
{::options parse_block_html="true" /}
<div class="tab-content">

<div class="tab-pane active" id="testcc"><!-- step cc-->
<!-- CC -->

### Credit Card
We will try to perform a successful 3D Secure Credit Card transaction.<br>The dummy credit card credentials that can be used is:<br />

| Type | Visa |
|---|---|
| Card Number | 4811 1111 1111 1114 |
| CVV | 123 |
| Exp. Month | 01 |
| Exp. Year | 2020 |

<br>
<br />
Referring to the steps on Obtain VT-Web URL, the displayed VT-Web page is as follows:
<br />
![vtweb_test1](/images/vtweb_test.png){: .img-responsive .img-thumbnail}
<br /><br />
Click **Pay** and you will be redirected to the 3D Secure page. An authentication page will pop out that prompts the customer to click Authenticate. The following figure displays the 3D Secure authentication page on sandbox.
<br /><br />
![VT-Web 3D Secure](/images/vtweb_3ds.png){: width="784"}{: .img-responsive .img-thumbnail}
<br /><br />
After authentication process is completed, payment status will be displayed.
<br /><br />
![vtweb_test3](/images/vtweb_test1.png){: width="784"}{: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step cc-->

<div class="tab-pane" id="virtualacc"><!-- step Virtual Account -->

<!-- Virtual Account -->

### Permata Virtual Account
We will try to perform a Virtual Account transaction.

Referring to the transaction on Obtain VT-Web URL, the VT-Web page that is displayed is shown below:
<br />
![VT-Web transfer Test 1](/images/vtweb_transfer_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Click **Confirm Payment** button to display the virtual account number.
<br />
![VT-Web transfer Test 2](/images/vtweb_transfer_test2.png){: .img-responsive .img-thumbnail}
<br />

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Info**:<br> Write your Permata VA number and make payment through ATM or Mobile Banking.
</div>

Until this point, the transaction is stored in MAP with *pending* status.<br> Transaction status will be changed to *success* when your customer has complete the payment.

* * *

### Payment Simulation

To facilitate the payment process, we provide a [payment simulator](https://api.sandbox.midtrans.com:7676/permata/va/index) for sandbox Environment.

Enter the virtual account number obtained to check whether there is a pending transaction.
<br />
![VT-Web transfer Test 3](/images/vtweb_transfer_test3.png){: .img-responsive .img-thumbnail}
<br /><br />
If there is a pending transaction, you can do a payment simulation.
<br />
![VT-Web transfer Test 4](/images/vtweb_transfer_test4.png){: .img-responsive .img-thumbnail}
<br /><br />
Permata Virtual Account payment simulation is successful.
<br />
![VT-Web transfer Test 5](/images/vtweb_transfer_test5.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step Virtual Account-->

<div class="tab-pane" id="testmandiri"><!-- step Mandiri Clickpay-->

<!-- Mandiri -->

### Mandiri clickpay
We will try to perform a successful Mandiri clickpay transaction.<br>The dummy Mandiri clickpay credentials that can be used is:<br />

| Fields | Value |
|---|---|
|Card Number|4111 1111 1111 1111|
|Accept Token|000 000|

<br>
<br>
Referring to the steps on Obtain VT-Web URL, the displayed VT-Web page is as follows:
<br />
![VT-Web Mandiri Test 1](/images/vtweb_mandiri_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Click Confirm Payment and a VT-Web confirmation payment page will be displayed.
<br />
![VT-Web Mandiri Test 2](/images/vtweb_mandiri_test2.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step Mandiri Clickpay-->

<div class="tab-pane" id="testcimb"><!-- step cimb-->

<!-- cimb -->

### CIMB Clicks
We will try to perform a successful CIMB Clicks transaction.

Referring to the transaction on Obtain VT-Web URL, the VT-Web page that is displayed is shown below:
<br />
![VT-Web CIMB Test 1](/images/vtweb_cimb_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Click Confirm Payment and customer will be redirected to a *dummy* CIMB Clicks web page.
<br />
![VT-Web CIMB Test 2](/images/vtweb_cimb_test2.png){: .img-responsive .img-thumbnail}
<br /><br />
When the CIMB Clicks transaction step is completed, select the Pay button and the confirmation payment page will be displayed.
<br />
![VT-Web CIMB Test 3](/images/vtweb_cimb_test3.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step cimb-->

<div class="tab-pane" id="bripay"><!-- step epay-->

<!-- BRI -->

### e-Pay BRI
We will try to perform a successful e-Pay BRI transaction.

Referring to the transaction on Obtain VT-Web URL, the VT-Web page that is displayed is shown below:
<br />
![VT-Web epay Test 1](/images/vtweb_epay_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Click Confirm Payment and customer will be redirected to a *dummy* e-Pay BRI web page.
<br />
![VT-Web epay Test 2](/images/vtweb_epay_test2.png){: .img-responsive .img-thumbnail}
<br /><br />
When e-Pay BRI transaction step is completed, select the Pay button and a confirmation payment page will be displayed.
<br />
![VT-Web epay Test 3](/images/vtweb_epay_test3.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step epay-->

<div class="tab-pane" id="tcash"><!-- step T-Cash-->

<!-- Tcash -->

### Telkomsel Cash
We will try to perform a successful Telkomsel Cash transaction.<br>The dummy Telkomsel Cash credentials that can be used is:<br />

| Fields | Value |
|---|---|
|Accept Token|0811 1111 11|

<br>
<br>
Referring to the transaction on Obtain VT-Web URL, the VT-Web page that is displayed is shown below:
<br />
![VT-Web Tcash Test 1](/images/vtweb_tcash_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Click Confirm Payment and a VT-Web result payment page will be displayed.
<br />
![VT-Web Tcash Test 2](/images/vtweb_tcash_test2.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step Tcash-->
<div class="tab-pane" id="xltunai"><!-- step XL Tunai -->

<!-- XL Tunai -->

### XL Tunai
We will try to perform a XL Tunai transaction.

Referring to the transaction on Obtain VT-Web URL, the VT-Web page that is displayed is shown below:
<br />
![VT-Web xltunai Test 1](/images/vtweb_xl_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Click **Pay Now** button to display the XL Tunai order id, the amount to be paid and how to pay.
<br />
![VT-Web xltunai Test 2](/images/vtweb_xl_test2.png){: .img-responsive .img-thumbnail}

Until this point, the transaction is stored in MAP with *pending* status.<br> Transaction status will be changed to *success* when your customer have finished the payment.

* * *

### Payment Simulation

To facilitate the payment process, we provide a [payment simulator](https://api.sandbox.midtrans.com:7676/xl/tunai/index) for sandbox Environment.

Enter `12345` as dummy merchant id and XL Tunai order id number obtained to check whether there is a pending transaction.
<br />
![VT-Web xltunai Test 3](/images/vtweb_xl_test3.png){: .img-responsive .img-thumbnail}
<br /><br />
If there is a pending transaction, you can do a payment simulation.
<br />
![VT-Web xltunai Test 4](/images/vtweb_xl_test4.png){: .img-responsive .img-thumbnail}
<br /><br />
XL Tunai payment simulation is successful.
<br />
![VT-Web xltunai Test 5](/images/vtweb_xl_test5.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step xltunai-->

<div class="tab-pane" id="mbill"><!-- step Mandiri bill payment -->

<!-- mandiri bill payment -->

### Mandiri Bill Payment
We will try to perform a Mandiri Bill Payment transaction.

Referring to the transaction on Obtain VT-Web URL, the VT-Web page that is displayed is shown below:
<br />
![VT-Web mbill Test 1](/images/vtweb_mbill_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Click **Show Payment Code** button to display the company code and payment code number.
<br />
![VT-Web mbill Test 2](/images/vtweb_mbill_test2.png){: .img-responsive .img-thumbnail}
<br />

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Note**:<br> Write your company code and payment code number and make payment through Mandiri channel.
</div>

At this point, the transaction is stored in MAP with *pending* status.<br> Transaction status will be changed into *success* when your customer have finished the payment.

* * *

### Payment Simulation

To facilitate the payment process, we provide a [payment simulator](https://api.sandbox.midtrans.com:7676/mandiri/bill/index) for sandbox Environment.

Enter the payment code number obtained to check whether there is a pending transaction.
<br />
![VT-Web mbill Test 3](/images/vtweb_mbill_test3.png){: .img-responsive .img-thumbnail}
<br /><br />
If there is a pending transaction, you can do a payment simulation.
<br />
![VT-Web mbill Test 4](/images/vtweb_mbill_test4.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step Mandiri Billpayment-->

<div class="tab-pane" id="indomrt"><!-- step Indomaret -->

### Indomaret
We will try to perform an Indomaret Payment transaction.

Referring to the transaction on Obtain VT-Web URL, the VT-Web page that is displayed is shown below:
<br />
![VT-Web indomrt1](/images/vtweb_indomrt_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Click **Confirm Payment** button to display the payment code number and payment instructions.
<br />
![VT-Web indomrt2](/images/vtweb_indomrt_test2.png){: .img-responsive .img-thumbnail}
<br />

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Note**:<br> Write your payment code number and make payment through cashier Indomaret store nearby.
</div>

At this point, the transaction is stored in MAP with *pending* status.<br> Transaction status will be changed into *success* when your customer have finished the payment.

* * *

### Payment Simulation

To facilitate the payment process, we provide a [payment simulator](https://api.sandbox.midtrans.com:7676/indomaret/index) for sandbox environment.

Enter the payment code number obtained to check whether there is a pending transaction.
<br />
![VT-Web indomrt3](/images/vtweb_indomrt_test3.png){: .img-responsive .img-thumbnail}
<br /><br />
If there is a pending transaction, you can do a payment simulation.
<br />
![VT-Web indomrt4](/images/vtweb_indomrt_test4.png){: .img-responsive .img-thumbnail}
<br /><br>

</div><!-- end of step Indomaret-->
<div class="tab-pane" id="dompetku"><!-- step Indosat Dompetku-->

### Indosat Dompetku
We will try to perform a successful Indosat Dompetku transaction.<br>The dummy Indosat Dompetku credentials that can be used is:<br />

| Fields | Value |
|---|---|
|Accept number|08123456789|

<br>
<br>
Referring to the transaction on Obtain VT-Web URL, the VT-Web page that is displayed is shown below:
<br />
![VT-Web dompetku Test 1](/images/vtweb_dompetku_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Click Confirm Payment and a VT-Web result payment page will be displayed.
<br />
![VT-Web dompetku Test 2](/images/vtweb_dompetku_test2.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step dompetku-->

<div class="tab-pane" id="mandiriecash"><!-- step Mandiri E-cash-->

### Mandiri E-cash
We will try to perform a successful Mandiri E-cash transaction.<br>The dummy Mandiri E-cash credentials that can be used for success transaction is:<br />

| Fields | Value |
|---|---|
|Phone number|0987654321|
|PIN|12345|
|OTP|12123434|

<br>
<br>
Referring to the transaction on Obtain VT-Web URL, the VT-Web page that is displayed is shown below:
<br />
![VT-Web mandiriecash Test 1](/images/vtweb_mandiri_ecash.png){: .img-responsive .img-thumbnail}
<br /><br />
Click Confirm Payment and user will be redirected to payment page below to login with phone number and PIN
<br />
![VT-Web mandirecash Test 2](/images/vtweb_mandiriecash_test1.png){: .img-responsive .img-thumbnail}
<br /><br />
Enter OTP to complete the transaction
<br />
![VT-Web mandirecash Test 3](/images/vtweb_mandiriecash_test2.png){: .img-responsive .img-thumbnail}
<br /><br />
Success confirmation page
<br />
![VT-Web mandirecash Test 4](/images/vtweb_mandiriecash_test3.png){: .img-responsive .img-thumbnail}
<br />

</div><!-- end of step mandiriecash-->


</div><!-- end of tab-content u/ testing-->
</div><!-- end of step 2-->

<div class="tab-pane" id="step3"><!-- step 3-->

<!-- Three -->

## Transaction Status ##

Veritrans provides two means for the merchant to obtain the transaction status.

1. Email & HTTP Notification
2. Merchant Administration Portal


### Email Notification

You can configure the email notification setting at [Settings - Email Notification](https://dashboard.sandbox.midtrans.com/settings/email_notifications) in MAP.

![config_payment](/images/vtweb-emailnotif.png){: .img-responsive .img-thumbnail}

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Info**:<br> For multiple emails, please use comma as a separator. Example : Andri@myemail.com, litani@myemail.com
</div>

<br>

* * *

### HTTP(S) POST Notification
Notification through HTTP(S) POST will be sent to the merchant’s server when customer completes the payment process. You can utilize the *HTTP(S) POST notification* to update a payment status or send the item of a transaction in real time.

Enable Veritrans HTTP(S) POST Notification by setting the Payment Notification URL at [Settings - Configuration](https://dashboard.sandbox.midtrans.com/settings/vtweb_configuration/ "Midtrans VT-Web configuration page").
<br />
![config_payment](/images/vtweb-httpnotif.png){: .img-responsive .img-thumbnail}
<br />

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  <span class="sr-only">Warning:</span>
<strong>Note:</strong>

Make sure your Payment Notification URL is not the same as your localhost address.
</div>

<br>

The content of the HTTP(S) POST notification consists of JSON object.<br>A sample notification is described as followed:

<ul class="nav nav-tabs">
  <li class="active"><a href="#statuscc" data-toggle="tab-code" data-lang="cc">Credit Card</a></li>
  <li><a href="#statuspermatava" data-toggle="tab-code" data-lang="permata">Virtual Account</a></li>
  <li><a href="#statusmandiri" data-toggle="tab-code" data-lang="mandiri">Mandiri ClickPay</a></li>
  <li><a href="#statuscimb" data-toggle="tab-code" data-lang="cimb">CIMB Clicks</a></li>
  <li><a href="#statusbriepay" data-toggle="tab-code" data-lang="bri">ePay BRI</a></li>
  <li><a href="#statustcash" data-toggle="tab-code" data-lang="telkomsel">Telkomsel Cash</a></li>
  <li><a href="#statusxltunai" data-toggle="tab-code" data-lang="xl">XL Tunai</a></li>
  <li><a href="#statusmbill" data-toggle="tab-code" data-lang="mandiribill">Mandiri Bill Payment</a></li>
  <li><a href="#statusindomrt" data-toggle="tab-code" data-lang="indomaret">Indomaret</a></li>
  <li><a href="#statusdompetku" data-toggle="tab-code" data-lang="dompetku">Indosat Dompetku</a></li>
  <li><a href="#statusmandiriecash" data-toggle="tab-code" data-lang="mandiriecash">Mandiri Ecash</a></li>
</ul>

<div class="tab-content"><!-- Status Tab Content-->
{::options parse_block_html="true" /}
<div class="tab-pane active" id="statuscc"><!-- step cc-->

### Credit Card

HTTP Notification example of a successful credit card transaction:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "3a351906-2a89-47b6-8b88-d890e626ba4d",
  "masked_card": "481111-1114",
  "order_id": "VTCC001",
  "payment_type": "credit_card",
  "transaction_time": "2015-04-27 14:29:32",
  "transaction_status": "capture",
  "fraud_status": "accept",
  "approval_code": "1430119773366",
  "signature_key": "e192d421a3a4ad5c53d866d6591d75c3982e4019cd6f8954a0aa0d9387af44b983ca182c9c8b0fdfd5ba1ec2d10057f37b6dfb86742f5657800fa82282993e68",
  "bank": "mandiri",
  "eci": "05",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Available HTTP(S) POST Notification Status

| transaction_status | Definition |
|---|---|
|capture | Transaction is accepted and ready to for settlement.|
|cancel | Transaction is cancelled and will not proceed to settlement.|
|settlement | Funds from the transaction has moved from customer to merchant's account.|
|deny | Transaction is denied by the bank or Midtrans Fraud Detection System. |

<br>

| fraud_status | Definition |
|---|---|
|accept | Transaction passes Midtrans Fraud Detection System. |
|challenge | Transaction is a suspicious transaction. Manually accepts or denied transaction. |
|deny | Transaction is denied by Midtrans Fraud Detection System. |

<br>

* * *

### Merchant Admin Portal(MAP) Transaction Status

Merchant can check the transactions status from [payments](https://dashboard.sandbox.midtrans.com/payments) menu on MAP.

Example of a successful transaction status for credit card:
![map_transaction](/images/map_transaction.png){: .img-responsive .img-thumbnail}

<br />

List of available MAP transaction status for Credit Card is described below:

|Transaction Status | Definition |
|---|---|
| Success | Transaction is accepted and will be settled.<br>Refer to Dashboard Operation to know more about [Settlement](/en/dashboard/index.html#Settlement).|
| Challenge | Credit card transaction is marked as suspicious transaction by Midtrans Fraud Detection System. Merchant has to manually Accept or Deny the transaction through Midtrans Dashboard.|
| Failure | Failure transaction can be caused by various reasons:<br> 1. Transaction is denied by the Bank.<br>2. Credit card transaction is rejected by Midtrans Fraud Detection System.|
| Cancel | Cancelled transaction can be caused by various reasons:<br>1. Successful transaction is cancelled before Settlement.<br>2. Challenge Transaction is denied by merchant. |

</div> <!-- End of Credit Card Status -->

<div class="tab-pane" id="statuspermatava"><!-- Permata VA Status -->

### Permata Virtual Account

HTTP Notification example of a successful Permata Virtual Account transaction:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "9a31e442-951f-490d-9b9c-9e618ec98874",
  "order_id": "VTVA001",
  "payment_type": "bank_transfer",
  "transaction_time": "2015-04-27 14:39:16",
  "transaction_status": "settlement",
  "permata_va_number": "8778006776893528",
  "signature_key": "31b482e796c35153e829a85c59d831313694cd0c7cecdbb85a7a33474f431fbea75f440f57d09608ea1889a9eedd950017f1162ae37a2ec9b00084d932fb5309",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Available HTTP(S) POST Notification Status

| transaction_status | Definition |
|---|---|
|pending | Transaction has not been processed and is waiting to be completed. |
|cancel | Transaction has been cancelled. Permata VA Number is now invalid. |
|expire | Transaction has not been completed by the expiry date. Permata VA Number is now invalid.|
|settlement | Funds from the transaction has moved from customer to merchant's account.|

<br>


* * *

### Merchant Admin Portal(MAP) Transaction Status

Merchant can check the transactions status from [payments](https://dashboard.sandbox.midtrans.com/payments) menu on MAP.

Example of a successful transaction status for Permata Virtual Account:
![VT-Web transfer Test 3](/images/transfer_status.png){: .img-responsive .img-thumbnail}

<br />

List of available MAP transaction status for Permata Virtual Account is described below:

|Transaction Status | Definition |
|---|---|
| Pending | Transaction that has not been completed will generate a Pending status.<br>Once customer complete the transaction, the status will turn into 'success'.|
| Settlement | Transaction is accepted and has been settled.
| Failure | Failure transaction can be caused by various reasons:<br> 1. Transaction is denied by the Bank.<br>2. Pending Transaction has not been paid and is expired.|

</div><!-- End of Permata VA Status -->
<div class="tab-pane" id="statusmandiri"><!-- Mandiri Status -->

### Mandiri clickpay

HTTP Notification example of a successful Mandiri clickpay transaction:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "fdb6322d-2fef-42c5-a956-d6b575247f0b",
  "masked_card": "411111-1111",
  "order_id": "VTMC001",
  "payment_type": "mandiri_clickpay",
  "transaction_time": "2015-04-27 14:44:38",
  "transaction_status": "settlement",
  "approval_code": "1430120681256",
  "signature_key": "6dfe98c7e8e1cc4725fa10d82e696816a04c5c0fdf819af3fef65d825b4b1cad0c024a3f1813f3cb590657d8cd3edabfb4e91dbb4376344f7460ed00637cd967",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Available HTTP(S) POST Notification Status

| transaction_status | Definition |
|---|---|
|settlement | Funds from the transaction has moved from customer to merchant's account.|
|deny | Transaction is denied by the bank. |

<br>

* * *

### Merchant Admin Portal(MAP) Transaction Status

Merchant can check the transactions status from [payments](https://dashboard.sandbox.midtrans.com/payments) menu on MAP.

Example of a successful transaction status for Mandiri clickpay:
![VT-Web Mandiri Test 3](/images/mandiri_status.png){: .img-responsive .img-thumbnail}

<br />

List of available MAP transaction status for Mandiri clickpay is described below:

|Transaction Status | Definition |
|---|---|
| Settlement | Transaction is accepted and has been settled.|
| Failure | Failure transaction can be caused by various reasons:<br> 1. Transaction is denied by the Bank.|

</div><!-- End of Mandiri Status -->
<div class="tab-pane" id="statuscimb"><!-- CIMB Status -->

### CIMB Clicks

HTTP Notification example of a successful CIMB Clicks transaction:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "47c11d2a-a8ca-4337-8681-8837ad023d65",
  "order_id": "VTCimb001",
  "payment_type": "cimb_clicks",
  "transaction_time": "2015-04-27 14:58:01",
  "transaction_status": "settlement",
  "approval_code": "1430121525724",
  "signature_key": "d70a32353c173b543b7580f8927a3c46c547ef4486457ca8b61f44eb644e7a76cccbbd244ec6f188d3ef8cc164950a02f8350e7d305fd635795b909aa0188975",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Available HTTP(S) POST Notification Status

| transaction_status | Definition |
|pending | Transaction has not been processed and is waiting to be completed. |
|cancel | CIMB Clicks transaction has been cancelled. |
|expire | CIMB Clicks Transaction has not been completed after 2 hours.|
|deny | Transaction is denied by the bank. |
|settlement | Funds from the transaction has moved from customer to merchant's account.|

<br>


* * *

### Merchant Admin Portal(MAP) Transaction Status

Merchant can check the transactions status from [payments](https://dashboard.sandbox.midtrans.com/payments) menu on MAP.

Example of a successful transaction status for CIMB Clicks:
![VT-Web CIMB Test 4](/images/cimb_status.png){: .img-responsive .img-thumbnail}

<br />

List of available MAP transaction status for CIMB Clicks is described below:

|Transaction Status | Definition |
|---|---|
| Pending | Transaction that has not been completed will generate a Pending status.<br>Once customer complete the transaction, the status will turn into 'settlement'.|
| Settlement | Transaction is accepted and has been settled.|
| Failure | Failure transaction can be caused by various reasons:<br> 1. Transaction is denied by the Bank.<br>2. Pending Transaction has not been paid and is expired.|

</div><!-- End of CIMB Status -->

<div class="tab-pane" id="statusbriepay"><!-- BRI E-Pay Status -->

### e-Pay BRI

HTTP Notification example of a successful e-Pay BRI transaction:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "3479c572-1d36-49c0-b5b1-22c876df411f",
  "order_id": "VTEB001",
  "payment_type": "bri_epay",
  "transaction_time": "2015-04-27 15:04:48",
  "transaction_status": "settlement",
  "approval_code": "1430121888862",
  "signature_key": "39ec591fbf754982e0fb83d125b60ff1863b41878799d1adada69476d6f3b746631addce8bf51a9d7bb76d92cea5a4291d57ed4626c0dc8cfefa5f3112887bcd",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Available HTTP(S) POST Notification Status

| transaction_status | Definition |
|---|---|
|pending | Transaction has not been processed and is waiting to be completed. |
|cancel | e-Pay BRI transaction has been cancelled. |
|expire | e-Pay BRI Transaction has not been completed after 2 hours.|
|deny | Transaction is denied by the bank. |
|settlement | Funds from the transaction has moved from customer to merchant's account.|

<br>

* * *

### Merchant Admin Portal(MAP) Transaction Status

Merchant can check the transactions status from [payments](https://dashboard.sandbox.midtrans.com/payments) menu on MAP.

Example of a successful transaction status for e-Pay BRI:
![VT-Web epay Test 4](/images/epay_status.png){: .img-responsive .img-thumbnail}

<br />

List of available MAP transaction status for e-Pay BRI is described below:

|Transaction Status | Definition |
|---|---|
| Pending | Transaction that has not been completed will generate a Pending status.<br>Once customer complete the transaction, the status will turn into 'success'.|
| Settlement | Transaction is accepted and has been settled.<br>Refer to Dashboard Operation to know more about [Settlement](/en/dashboard/index.html#Settlement).|
| Failure | Failure transaction can be caused by various reasons:<br> 1. Transaction is denied by the Bank.<br>2. Pending Transaction has not been paid and is expired.|

<br>

</div><!-- End of BRI E-Pay Status -->
<div class="tab-pane" id="statustcash"><!-- T-Cash Status -->

### Telkomsel Cash

HTTP Notification example of a successful Telkomsel Cash transaction:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "ee925bec-3bef-43a6-bb10-cbe8ab8fa68a",
  "order_id": "Test-Order-6",
  "payment_type": "telkomsel_cash",
  "transaction_time": "2015-04-27 15:08:21",
  "transaction_status": "settlement",
  "signature_key": "a1ea0f3fd4690896464752a311fe0d7e53c9f75138f06c1cdd4d4d8bf7664214ff9ef2966a966e9507709041d6403f81ea2b3b76ce67f1437bc5e82913c4c545",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Available HTTP(S) POST Notification Status

| transaction_status | Definition |
|---|---|
|deny | Transaction is denied by the bank. |
|settlement | Funds from the transaction has moved from customer to merchant's account.|

<br>

* * *

### Merchant Admin Portal(MAP) Transaction Status

Merchant can check the transactions status from [payments](https://dashboard.sandbox.midtrans.com/payments) menu on MAP.

Example of a successful transaction status for Telkomsel Cash:
![VT-Web Tcash Test 3](/images/tcash_status.png){: .img-responsive .img-thumbnail}

<br />

List of available MAP transaction status for Telkomsel Cash is described below:

|Transaction Status | Definition |
|---|---|
| Settlement | Transaction is accepted and has been settled.|
| Failure | Failure transaction can be caused by various reasons:<br> 1. Transaction is denied by the Bank.<br>2. Pending Transaction has not been paid and is expired.|

</div><!-- End of T-Cash Status -->
<div class="tab-pane" id="statusxltunai"><!-- XL Tunai Status -->

### XL Tunai

HTTP Notification example of a successful XL Tunai transaction:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "1731610c-cbe5-4f59-a976-8206f3a59bc0",
  "order_id": "vtimage07",
  "payment_type": "xl_tunai",
  "transaction_time": "2015-04-27 15:20:40",
  "transaction_status": "settlement",
  "signature_key": "288f5b0f069d5d15383d1e0a13c34944c8681f5d0d1168727e9a3678581bda48736780b558567d16d35be9ee09f552f9a008f04980a5afef6bfc57a6df180f78",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Available HTTP(S) POST Notification Status

| transaction_status | Definition |
|---|---|
|pending | Transaction has not been processed and is waiting to be completed. |
|cancel | XL Tunai transaction has been cancelled. |
|expire | XL Tunai Transaction has not been completed after 2 hours.|
|deny | Transaction is denied by the bank. |
|settlement | Funds from the transaction has moved from customer to merchant's account.|

<br>

* * *

### Merchant Admin Portal(MAP) Transaction Status

Merchant can check the transactions status from [payments](https://dashboard.sandbox.midtrans.com/payments) menu on MAP.

Example of a successful transaction status for XL Tunai:
![VT-Web transfer Test 3](/images/xl_status.png){: .img-responsive .img-thumbnail}

<br />

List of available MAP transaction status for XL Tunai is described below:

|Transaction Status | Definition |
|---|---|
| Pending | Transaction that has not been completed will generate a Pending status.<br>Once customer complete the transaction, the status will turn into 'success'.|
| Settlement | Transaction is accepted and has been settled.|
| Failure | Failure transaction can be caused by various reasons:<br> 1. Transaction is denied by the Bank.<br>2. Pending Transaction has not been paid and is expired.|

</div><!-- End of XL Tunai Status -->

<div class="tab-pane" id="statusmbill"><!-- Mandiri BillPayment Status -->

### Mandiri Bill Payment

HTTP Notification example of a successful Mandiri Bill Payment transaction:

~~~ json
{
    "status_code": "201",
    "status_message": "Success, Mandiri Bill transaction is successful",
    "transaction_id": "0b53c7dc­e63c­4bbc­a371­6b1ca5c925c7",
    "order_id": "1421816431",
    "payment_type": "echannel",
    "transaction_time": "2015­01­21 12:00:31",
    "transaction_status": "pending",
    "biller_code": "70012",
    "bill_key": "000857123456",
    "gross_amount": "400000.00"
}
~~~

<br>

#### Available HTTP(S) POST Notification Status

| transaction_status | Definition |
|---|---|
|pending | Transaction has not been processed and is waiting to be completed. |
|cancel | Transaction has been cancelled. Mandiri Bill Number is now invalid. |
|expire | Transaction has not been completed by the expiry date. Mandiri Bill Number is now invalid.|
|settlement | Funds from the transaction has moved from customer to merchant's account.|

<br>

* * *

### Merchant Admin Portal(MAP) Transaction Status

Merchant can check the transactions status from [payments](https://dashboard.sandbox.midtrans.com/payments) menu on MAP.

Example of a successful transaction status for Mandiri Bill Payment:
![VT-Web mbill Test 3](/images/mbill_status.png){: .img-responsive .img-thumbnail}

<br />

List of available MAP transaction status for Mandiri Bill Payment is described below:

|Transaction Status | Definition |
|---|---|
| Pending | Transaction that has not been completed will generate a Pending status.<br>Once customer complete the transaction, the status will turn into 'success'.|
| Settlement | Transaction is accepted and has been settled.|
| Failure | Failure transaction can be caused by various reasons:<br> 1. Transaction is denied by the Bank.<br>2. Pending Transaction has not been paid and is expired.|

</div><!-- End of Mandiri BillPayment Status -->

<div class="tab-pane" id="statusindomrt"><!-- Indomaret Status -->

### Indomaret

HTTP Notification example of a successful Indomaret transaction:

~~~ json
{
    "status_code": "201",
    "status_message": "Success, CSTORE transaction is successful",
    "transaction_id": "0b53c7dc­e63c­4bbc­a371­6b1ca5c925c7",
    "order_id": "vtindomrt01",
    "payment_type": "cstore",
    "transaction_time": "2015­01­21 12:00:31",
    "transaction_status": "pending",
    "payment_code": "741122334455",
    "gross_amount": "145000.00"
}
~~~

<br>

#### Available HTTP(S) POST Notification Status

| transaction_status | Definition |
|---|---|
|pending | Transaction has not been processed and is waiting to be completed. |
|cancel | Transaction has been cancelled. Indomaret payment code Number is now invalid. |
|expire | Transaction has not been completed by the expiry date. Indomaret payment code Number is now invalid.|
|settlement | Funds from the transaction has moved from customer to merchant's account.|

<br>

* * *

### Merchant Admin Portal(MAP) Transaction Status

Merchant can check the transactions status under [Transaction menu](https://dashboard.sandbox.midtrans.com/payments) on MAP.

Example of a successful transaction status for Indomaret:
![VT-Web indomrt3](/images/indomrt_status.png){: .img-responsive .img-thumbnail}

<br />

List of available MAP transaction status for Indomaret is described below:

|Transaction Status | Definition |
|---|---|
| Pending | Transaction that has not been completed will generate a Pending status.<br>Once customer complete the transaction, the status will turn into 'success'.|
| Settlement | Transaction is accepted and has been settled.|
| Failure | Failure transaction can be caused by various reasons:<br> 1. Transaction is denied by the Bank.<br>2. Pending Transaction has not been paid and is expired.|

</div><!-- End of Indomaret Status -->
<div class="tab-pane" id="statusdompetku"><!-- Indosat Dompetku Status -->

### Indosat Dompetku

HTTP Notification example of a successful Indosat Dompetku transaction:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "0b7696f1-f9ca-4f4b-a389-ede2c2dddb5c",
  "order_id": "vtdompetku03",
  "payment_type": "indosat_dompetku",
  "transaction_time": "2015-06-24 11:20:24",
  "transaction_status": "settlement",
  "signature_key": "73c70c8354e0705a16bd5d47d0ab3029a70b79bef0fe3b29161557110205d3679f0ea177101f56fe6313a887f340be7d302750ce8a4e0f67753c70548159895e",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Available HTTP(S) POST Notification Status

| transaction_status | Definition |
|---|---|
|deny | Transaction is denied by the provider. |
|settlement | Funds from the transaction has moved from customer to merchant's account.|

<br>

* * *

### Merchant Admin Portal(MAP) Transaction Status

Merchant can check the transactions status from [payments](https://dashboard.sandbox.midtrans.com/payments) menu on MAP.

Example of a successful transaction status for Indosat Dompetku:
![VT-Web dompetku Test 3](/images/dompetku_status.png){: .img-responsive .img-thumbnail}

<br />

List of available MAP transaction status for Indosat Dompetku is described below:

|Transaction Status | Definition |
|---|---|
| Settlement | Transaction is accepted and has been settled.|
| Failure | Transaction is denied by the Provider.|

</div><!-- End of dompetku Status -->

<div class="tab-pane" id="statusmandiriecash"><!-- Mandiri E-cash Status -->

### Mandiri E-cash

HTTP Notification example of a successful Mandiri E-cash transaction:

~~~ json
{
  "status_code": "200",
  "status_message": "Veritrans payment notification",
  "transaction_id": "0b7696f1-f9ca-4f4b-a389-ede2c2dddb5c",
  "order_id": "vtecash03",
  "payment_type": "mandiri_ecash",
  "transaction_time": "2015-06-24 11:20:24",
  "transaction_status": "settlement",
  "signature_key": "73c70c8354e0705a16bd5d47d0ab3029a70b79bef0fe3b29161557110205d3679f0ea177101f56fe6313a887f340be7d302750ce8a4e0f67753c70548159895e",
  "gross_amount": "145000.00"
}
~~~

<br>

#### Available HTTP(S) POST Notification Status

| Pending | Transaction that has not been completed will generate a Pending status.<br>Once customer complete the transaction, the status will turn into 'success'.|
| Settlement | Transaction is accepted and has been settled.|
| Expired | Failure transaction caused by pending Transaction has not been paid and is expired.|

<br>

* * *

### Merchant Admin Portal(MAP) Transaction Status

Merchant can check the transactions status from [payments](https://dashboard.sandbox.midtrans.com/payments) menu on MAP.

Example of a successful transaction status for Mandiri E-cash:
![VT-Web mandiriecash Test 3](/images/mandiriecash_status.png){: .img-responsive .img-thumbnail}

<br />

List of available MAP transaction status for Mandiri E-cash is described below:

|Transaction Status | Definition |
|---|---|
| Pending | Transaction that has not been completed will generate a Pending status.<br>Once customer complete the transaction, the status will turn into 'success'.|
| Success | Transaction is accepted and has been settled.|
| Failure | Failure transaction can be caused by pending Transaction has not been paid and is expired.|

</div><!-- End of mandiriecash Status -->

</div><!-- End of Tab-Content u/ Status -->

</div><!-- end of step 3-->
<div class="tab-pane" id="step4"><!-- step 4-->

## Handling HTTP(S) Notification

The following figure is a sample code for merchant to receive HTTP(S) POST and JSON object by utilizing **Veritrans-PHP** library. This PHP code is executed when notification URL endpoint (http://sneekers.com/payment/notification) is accessed.<br />

<br>

~~~ php
<?php

require_once('Veritrans.php');
Veritrans_Config::$isProduction = false;
Veritrans_Config::$serverKey = '<your serverkey>';
$notif = new Veritrans_Notification();

$transaction = $notif->transaction_status;
$type = $notif->payment_type;
$order_id = $notif->order_id;
$fraud = $notif->fraud_status;

if ($transaction == 'capture') {
  // For credit card transaction, we need to check whether transaction is challenge by FDS or not
  if ($type == 'credit_card'){
    if($fraud == 'challenge'){
      // TODO set payment status in merchant's database to 'Challenge by FDS'
      // TODO merchant should decide whether this transaction is authorized or not in MAP
      echo "Transaction order_id: " . $order_id ." is challenged by FDS";
      }
      else {
      // TODO set payment status in merchant's database to 'Success'
      echo "Transaction order_id: " . $order_id ." successfully captured using " . $type;
      }
    }
  }
else if ($transaction == 'settlement'){
  // TODO set payment status in merchant's database to 'Settlement'
  echo "Transaction order_id: " . $order_id ." successfully transfered using " . $type;
  }
  else if($transaction == 'pending'){
  // TODO set payment status in merchant's database to 'Pending'
  echo "Waiting customer to finish transaction order_id: " . $order_id . " using " . $type;
  }
  else if ($transaction == 'deny') {
  // TODO set payment status in merchant's database to 'Denied'
  echo "Payment using " . $type . " for transaction order_id: " . $order_id . " is denied.";
  }
  else if ($transaction == 'expire') {
  // TODO set payment status in merchant's database to 'expire'
  echo "Payment using " . $type . " for transaction order_id: " . $order_id . " is expired.";
  }
  else if ($transaction == 'cancel') {
  // TODO set payment status in merchant's database to 'Denied'
  echo "Payment using " . $type . " for transaction order_id: " . $order_id . " is canceled.";
}
?>

~~~

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
**Info**:<br> For security reason, if you using Veritrans_Notification class like the example. Our veritrans php library is already doing the [challenge notification](https://api-docs.midtrans.com/#handing-notifications) process.
</div>

<br><br>

</div><!-- end of step 4-->
</div><!-- end of STEPS tab-content-->
</div><!-- end of header-->
