<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="PHP" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_php.html" do image_tag("/images/php_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Prestashop" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_prestashop.html" do image_tag("/images/prestashop_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Magento" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_magento.html" do image_tag("/images/magento_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Opencart" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_opencart.html" do image_tag("/images/opencart_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Woocommerce" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_woocommerce.html" do image_tag("/images/woocommerce_gray.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Drupal" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_drupal.html" do image_tag("/images/drupal_grey.jpg") end %>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="thumbnail" data-toggle="tooltip" title="Drupal" data-placement="bottom">
    <%= link_to "/en/vtweb/integration_whmcs.html" do image_tag("/images/whmcs.png") end %>
    </div>
  </div>
</div>

{::options parse_block_html="true" /}

<div class="tab-content">
  <div class="tab-pane active">
### VT-Web WHMCS Integration Steps
<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#opencart-step1" data-toggle="tab"><span>Step 1</span>Plugin Installation</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="opencart-step1">

#### Requirements

1. An online store with WHMCS infrastructure. This plugin is tested with WHMCS version 5.x and 6.x
2. PHP minimum version 5.4.
3. Midtrans plugin for WHMCS v5.3.12 - v6.x \[ [Github](https://github.com/veritrans/vt-web-whmcs) \| [Zip](https://github.com/veritrans/vt-web-whmcs/archive/master.zip) \].

<br />

#### Installation Process

1. Extract Whmcs-master.zip file you have previously downloaded.
2. Upload & merged module folder that you have extracted into your WHMCS directory.
<br />

#### Plugin Configuration

1. Access your WHMCS admin page.
2. Go to menu **Setup - Payments - Payment Gateways**.
3. Click Veritrans payment method, then you will be redirected to configuration page.
<br /><br />
  ![whmcs Setting](/images/whmcs01.png){: .img-responsive .img-thumbnail}
<br /><br />
4. Insert requires fields following the figure below and click **Save Changes**.
<br /><br />
  ![whmcs Setting](/images/whmcs02.png){: .img-responsive .img-thumbnail}
<br /><br />

5. Login to MAP portal to configure a few options below:

    | URL Role | Redirect URL|
  |---|---|
  | Payment Notification URL | http://[your website url]/modules/gateways/callback/veritrans.php |
  | Finish Redirect URL | http://[your website url] |
  | Error Redirect URL | http://[your website url] |
  | Unfinish Redirect URL | http://[your website url] |

</div>
</div>
</div>
</div>